@import "https://fonts.googleapis.com/css?family=Roboto";
/* line 7, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_vars.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 2, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_globals.scss */
body {
  max-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #F8E6CE;
}

/* line 4, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_sol.scss */
#sol {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background-color: #27737B;
}
/* line 10, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_sol.scss */
#sol #plinthe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5%;
  background-color: #1b4f54;
}

/* line 2, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/left.scss */
#fenetreRad {
  margin-right: -30%;
  height: 100vh;
  position: relative;
}
/* line 6, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/left.scss */
#fenetreRad #fenetre {
  position: absolute;
  width: 120%;
  height: 50%;
  right: -50%;
  bottom: 48%;
}
/* line 13, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/left.scss */
#fenetreRad #radiateur {
  position: absolute;
  width: 100%;
  height: 14%;
  right: -42%;
  bottom: 27%;
}

/* line 2, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
#middle {
  height: 100vh;
  position: relative;
  text-align: center;
}
/* line 6, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
#middle #horloge {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  right: 0;
  top: 1vh;
  z-index: 1;
}
/* line 15, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
#middle #pc img {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  z-index: 1;
}
/* line 22, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
#middle #pc a {
  z-index: 10000;
}
/* line 25, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
#middle #table {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  z-index: 1;
}

@media (orientation: portrait) {
  /* line 34, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
  #pc {
    bottom: 38%;
  }

  /* line 37, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
  #table {
    bottom: 20%;
  }
}
@media (orientation: landscape) {
  /* line 43, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
  #pc img {
    bottom: 40%;
  }

  /* line 46, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
  #table {
    bottom: 22.5%;
  }
}
@media (min-width: 768px) {
  /* line 51, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
  #pc img {
    bottom: 40%;
  }

  /* line 54, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_middle.scss */
  #table {
    bottom: 22.5%;
  }
}
/* line 2, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_right.scss */
#right {
  height: 100vh;
  position: relative;
}
/* line 6, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_right.scss */
#right #cadre {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 5%;
  left: -75%;
}
/* line 13, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/partials/_right.scss */
#right #plante {
  position: absolute;
  width: 100%;
  height: 37%;
  bottom: 25%;
  left: -50%;
}

/* line 9, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
body {
  margin-top: 101px;
}

/* line 12, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
.btn-primary {
  background-color: #EF9A3E;
  border: 0px;
  transition: all 250ms;
  border-radius: 0px;
}
/* line 17, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
.btn-primary:hover {
  background-color: #cf7411;
}

/* line 22, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial {
  height: 35px;
  background-color: #000;
  line-height: 35px;
}
/* line 27, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #socialLink a, #navSocial #socialLink a:visited, #navSocial #socialLink a:focus {
  color: white;
  font-size: 1.2em;
  transition: all 250ms;
}
/* line 31, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #socialLink a:hover, #navSocial #socialLink a:visited:hover, #navSocial #socialLink a:focus:hover {
  color: #EF9A3E;
}
/* line 34, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #socialLink a i, #navSocial #socialLink a:visited i, #navSocial #socialLink a:focus i {
  margin-top: 7px;
  margin-right: 7px;
}
/* line 40, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #userBar {
  text-align: right;
}
/* line 42, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #userBar a, #navSocial #userBar a:visited, #navSocial #userBar a:focus {
  color: white;
  transition: all 250ms;
  margin-right: 42px;
  position: relative;
}
/* line 48, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #userBar a:after, #navSocial #userBar a:visited:after, #navSocial #userBar a:focus:after {
  content: " ";
  position: absolute;
  right: -21px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
}
/* line 58, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #userBar a:nth-last-child(1):after, #navSocial #userBar a:visited:nth-last-child(1):after, #navSocial #userBar a:focus:nth-last-child(1):after {
  width: 0;
}
/* line 62, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #userBar a i, #navSocial #userBar a:visited i, #navSocial #userBar a:focus i {
  color: #EF9A3E;
}
/* line 65, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#navSocial #userBar a:hover, #navSocial #userBar a:visited:hover, #navSocial #userBar a:focus:hover {
  color: #EF9A3E;
}

/* line 72, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#menu {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  margin-top: 35px;
}
/* line 85, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#TopMenu a {
  margin-right: 56px;
  line-height: 35px;
  position: relative;
  font-size: 1.2em;
  color: white;
  transition: all 250ms;
  text-transform: uppercase;
}
/* line 93, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#TopMenu a:hover {
  color: #EF9A3E;
}
/* line 96, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#TopMenu a:after {
  content: " ";
  position: absolute;
  right: -21px;
  top: 20%;
  bottom: 20%;
  width: 2px;
  background-color: white;
}
/* line 107, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#TopMenu a:nth-last-child(0):after {
  width: 0;
}

/* line 113, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer {
  background: url(../../assets/img/verdun_03.jpg) top left no-repeat;
  background-size: cover;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  position: relative;
}
/* line 119, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
/* line 125, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .col-xs-4, footer .col-xs-12 {
  z-index: 10;
  color: white;
}
/* line 128, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .col-xs-4 ul, footer .col-xs-12 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 132, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .col-xs-4 ul li, footer .col-xs-12 ul li {
  border-bottom: 2px solid #EF9A3E;
  line-height: 45px;
  font-size: 16px;
}
/* line 136, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .col-xs-4 ul li i, footer .col-xs-12 ul li i {
  font-size: 18px;
  color: #EF9A3E;
  padding-right: 10px;
}
/* line 145, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .footer-articles {
  text-align: center;
}
/* line 147, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .footer-articles .row {
  margin-bottom: 20px;
}
/* line 150, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .footer-articles a {
  position: relative;
  margin: 10px;
  width: 100%;
  display: block;
  transition: all 250ms;
  overflow: hidden;
}
/* line 157, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .footer-articles a:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms;
}
/* line 167, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .footer-articles a:hover:after {
  transform: scale(1.5);
}
/* line 171, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
footer .footer-articles a img {
  border: 2px solid #EF9A3E;
}

/* line 177, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#copyright {
  min-height: 50px;
  background-color: black;
  line-height: 50px;
}
/* line 181, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#copyright #mentions {
  color: white;
  padding-left: 100px;
}
/* line 184, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#copyright #mentions a {
  color: #EF9A3E;
}
/* line 187, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#copyright #mentions span {
  padding-right: 100px;
}
/* line 191, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#copyright .socials {
  font-size: 28px;
  color: white;
  padding-right: 100px;
}
/* line 195, /var/www/sites/dev/mtech/app/assets/stylesheets/front/user/account.scss */
#copyright .socials i {
  padding-left: 20px;
  padding-right: 20px;
}
