@import "vars";
#fenetreRad {
  margin-right: -30%;
  height: 100vh;
  position: relative;
  #fenetre {
    position: absolute;
    width: 120%;
    height: 50%;
    right: -50%;
    bottom:48%;
  }
  #radiateur {
    position: absolute;
    width: 100%;
    height: 14%;
    right: -42%;
    bottom:27%;
  }
}
