/* line 1, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-bureau-lampe, .svg-cadre, .svg-fenetre, .svg-horloge, .svg-lampe, .svg-mini-plante, .svg-pc, .svg-plante, .svg-post-it, .svg-radiateur, .svg-table {
  background: url("svg/sprite.view.svg") no-repeat;
}

/* line 5, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-bureau-lampe {
  background-position: 0 0;
}

/* line 10, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-bureau-lampe-dims {
  width: 763.924px;
  height: 478.778px;
}

/* line 15, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-cadre {
  background-position: 82.12505631155248% 76.73700559315334%;
}

/* line 20, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-cadre-dims {
  width: 76.917px;
  height: 67.143px;
}

/* line 25, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-fenetre {
  background-position: 0 99.96659275313299%;
}

/* line 30, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-fenetre-dims {
  width: 417.258px;
  height: 552.062px;
}

/* line 35, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-horloge {
  background-position: 97.97439587132783% 52.32606574882262%;
}

/* line 40, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-horloge-dims {
  width: 338.282px;
  height: 293.983px;
}

/* line 45, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-lampe {
  background-position: 85.9872870056737% 76.4760439478631%;
}

/* line 50, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-lampe-dims {
  width: 34.227px;
  height: 63.854px;
}

/* line 55, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-mini-plante {
  background-position: 74.38881174447432% 82.81974680482742%;
}

/* line 60, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-mini-plante-dims {
  width: 91.066px;
  height: 137.934px;
}

/* line 65, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-pc {
  background-position: 98.57694412041003% 18.499378656078566%;
}

/* line 70, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-pc-dims {
  width: 343.048px;
  height: 239.168px;
}

/* line 75, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-plante {
  background-position: 51.07572159522118% 73.87808321696126%;
}

/* line 80, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-plante-dims {
  width: 301.06px;
  height: 382.935px;
}

/* line 85, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-post-it {
  background-position: 91.1880755745744% 67.40738904041656%;
}

/* line 90, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-post-it-dims {
  width: 80.667px;
  height: 22.75px;
}

/* line 95, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-radiateur {
  background-position: 99.94531243867273% 0;
}

/* line 100, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-radiateur-dims {
  width: 353.658px;
  height: 146.484px;
}

/* line 105, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-table {
  background-position: 81.61581196581196% 69.99330587023687%;
}

/* line 110, /var/www/sites/dev/mtech/app/assets/images/svg/view/sprite.scss */
.svg-table-dims {
  width: 182px;
  height: 60px;
}
