<section id="bg">
  <div class="ciel" style="height: 100vh;overflow: hidden; ">
    <div class="ciel_1" style="background-color:#CFE6E5;width: 1000%;height: 50%;"></div>
    <div class="ciel_2" style="background-color:#C8E4E2;width: 1000%;transform: skewX(87deg);height: 75%;margin-top: -10%;"></div>
    <div class="ciel_3" style="background-color:#B2DEDC;width: 100%;height: 50%;margin-top: -20%;"></div>
  </div>
  <div id="nuages">
    <div id="nuage1" style="position: absolute;top: 8%;left: 40%;height: 10%;width: 10%;">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="100%" height="100%" viewBox="0 0 12.457 6.211" enable-background="new 0 0 12.457 6.211" xml:space="preserve">
      <g id="nuages3">
        <path fill="#FFFFFF" d="M2.285,5.924c0.332,0,0.646-0.056,0.932-0.156c0.02,0.014,0.041,0.024,0.061,0.036
          c5.111-1.474,5.9-4.97,6.002-5.591C8.928,0.076,8.533,0,8.115,0C7.024,0,6.09,0.52,5.684,1.262c0.07,0.044,0.135,0.092,0.193,0.146
          C5.809,1.369,5.735,1.334,5.66,1.304L5.659,1.305C5.646,1.299,5.633,1.294,5.621,1.288C5.429,1.215,5.217,1.165,4.992,1.147
          c-0.729-0.056-1.398,0.228-1.76,0.687c0.051-0.125,0.129-0.239,0.225-0.342C3.224,1.391,2.955,1.334,2.671,1.334
          c-0.851,0-1.55,0.51-1.629,1.164C1.285,2.43,1.537,2.402,1.783,2.417C1.498,2.452,1.217,2.534,0.958,2.662
          C0.379,2.988,0,3.521,0,4.125C0,5.119,1.023,5.924,2.285,5.924z"/>
        <path fill="#F2F3F4" d="M3.277,5.804C3.57,5.98,3.934,6.085,4.33,6.085c0.396,0,0.76-0.104,1.052-0.278
          c0.314,0.249,0.751,0.404,1.233,0.404c0.479,0,0.911-0.152,1.225-0.398c0.366,0.173,0.795,0.272,1.252,0.272
          c1.035,0,1.918-0.508,2.27-1.225c0.642-0.201,1.096-0.694,1.096-1.272c0-0.745-0.758-1.352-1.7-1.368
          c0.003-0.044,0.007-0.089,0.007-0.135c0-0.822-0.605-1.533-1.484-1.872C9.178,0.834,8.389,4.33,3.277,5.804z"/>
      </g>
      <g id="nuages3_1_">
        <path fill="#FFFFFF" d="M2.285,5.924c0.332,0,0.646-0.056,0.932-0.156c0.02,0.014,0.041,0.024,0.061,0.036
          c5.111-1.474,5.9-4.97,6.002-5.591C8.928,0.076,8.533,0,8.115,0C7.024,0,6.09,0.52,5.684,1.262c0.07,0.044,0.135,0.092,0.193,0.146
          C5.809,1.369,5.735,1.334,5.66,1.304L5.659,1.305C5.646,1.299,5.633,1.294,5.621,1.288C5.429,1.215,5.217,1.165,4.992,1.147
          c-0.729-0.056-1.398,0.228-1.76,0.687c0.051-0.125,0.129-0.239,0.225-0.342C3.224,1.391,2.955,1.334,2.671,1.334
          c-0.851,0-1.55,0.51-1.629,1.164C1.285,2.43,1.537,2.402,1.783,2.417C1.498,2.452,1.217,2.534,0.958,2.662
          C0.379,2.988,0,3.521,0,4.125C0,5.119,1.023,5.924,2.285,5.924z"/>
        <path fill="#F2F3F4" d="M3.277,5.804C3.57,5.98,3.934,6.085,4.33,6.085c0.396,0,0.76-0.104,1.052-0.278
          c0.314,0.249,0.751,0.404,1.233,0.404c0.479,0,0.911-0.152,1.225-0.398c0.366,0.173,0.795,0.272,1.252,0.272
          c1.035,0,1.918-0.508,2.27-1.225c0.642-0.201,1.096-0.694,1.096-1.272c0-0.745-0.758-1.352-1.7-1.368
          c0.003-0.044,0.007-0.089,0.007-0.135c0-0.822-0.605-1.533-1.484-1.872C9.178,0.834,8.389,4.33,3.277,5.804z"/>
      </g>
      </svg>
    </div>
    <div id="nuage2" style="position: absolute;top: 5%;left: 75%;height: 5%;width: 10%;">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="100%" height="100%" viewBox="0 0 12.457 6.211" enable-background="new 0 0 12.457 6.211" xml:space="preserve">
      <g id="nuages3">
        <path fill="#FFFFFF" d="M2.285,5.924c0.332,0,0.646-0.056,0.932-0.156c0.02,0.014,0.041,0.024,0.061,0.036
          c5.111-1.474,5.9-4.97,6.002-5.591C8.928,0.076,8.533,0,8.115,0C7.024,0,6.09,0.52,5.684,1.262c0.07,0.044,0.135,0.092,0.193,0.146
          C5.809,1.369,5.735,1.334,5.66,1.304L5.659,1.305C5.646,1.299,5.633,1.294,5.621,1.288C5.429,1.215,5.217,1.165,4.992,1.147
          c-0.729-0.056-1.398,0.228-1.76,0.687c0.051-0.125,0.129-0.239,0.225-0.342C3.224,1.391,2.955,1.334,2.671,1.334
          c-0.851,0-1.55,0.51-1.629,1.164C1.285,2.43,1.537,2.402,1.783,2.417C1.498,2.452,1.217,2.534,0.958,2.662
          C0.379,2.988,0,3.521,0,4.125C0,5.119,1.023,5.924,2.285,5.924z"/>
        <path fill="#F2F3F4" d="M3.277,5.804C3.57,5.98,3.934,6.085,4.33,6.085c0.396,0,0.76-0.104,1.052-0.278
          c0.314,0.249,0.751,0.404,1.233,0.404c0.479,0,0.911-0.152,1.225-0.398c0.366,0.173,0.795,0.272,1.252,0.272
          c1.035,0,1.918-0.508,2.27-1.225c0.642-0.201,1.096-0.694,1.096-1.272c0-0.745-0.758-1.352-1.7-1.368
          c0.003-0.044,0.007-0.089,0.007-0.135c0-0.822-0.605-1.533-1.484-1.872C9.178,0.834,8.389,4.33,3.277,5.804z"/>
      </g>
      <g id="nuages3_1_">
        <path fill="#FFFFFF" d="M2.285,5.924c0.332,0,0.646-0.056,0.932-0.156c0.02,0.014,0.041,0.024,0.061,0.036
          c5.111-1.474,5.9-4.97,6.002-5.591C8.928,0.076,8.533,0,8.115,0C7.024,0,6.09,0.52,5.684,1.262c0.07,0.044,0.135,0.092,0.193,0.146
          C5.809,1.369,5.735,1.334,5.66,1.304L5.659,1.305C5.646,1.299,5.633,1.294,5.621,1.288C5.429,1.215,5.217,1.165,4.992,1.147
          c-0.729-0.056-1.398,0.228-1.76,0.687c0.051-0.125,0.129-0.239,0.225-0.342C3.224,1.391,2.955,1.334,2.671,1.334
          c-0.851,0-1.55,0.51-1.629,1.164C1.285,2.43,1.537,2.402,1.783,2.417C1.498,2.452,1.217,2.534,0.958,2.662
          C0.379,2.988,0,3.521,0,4.125C0,5.119,1.023,5.924,2.285,5.924z"/>
        <path fill="#F2F3F4" d="M3.277,5.804C3.57,5.98,3.934,6.085,4.33,6.085c0.396,0,0.76-0.104,1.052-0.278
          c0.314,0.249,0.751,0.404,1.233,0.404c0.479,0,0.911-0.152,1.225-0.398c0.366,0.173,0.795,0.272,1.252,0.272
          c1.035,0,1.918-0.508,2.27-1.225c0.642-0.201,1.096-0.694,1.096-1.272c0-0.745-0.758-1.352-1.7-1.368
          c0.003-0.044,0.007-0.089,0.007-0.135c0-0.822-0.605-1.533-1.484-1.872C9.178,0.834,8.389,4.33,3.277,5.804z"/>
      </g>
      </svg>
    </div>
  </div>
  <div class="city" style="position:absolute; bottom:0;">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px"
    	 height="286.251px" viewBox="0 0 1920 286.251" enable-background="new 0 0 1920 286.251" xml:space="preserve">
    <g id="TGV">
    	<g id="Locomotive_x5F_droite" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<circle id="path9604" fill="#1A1A1A" cx="1705.025" cy="144.317" r="1.927"/>
    		<circle id="circle9606" fill="#1A1A1A" cx="1712.863" cy="144.317" r="1.927"/>
    		<circle id="circle9608" fill="#1A1A1A" cx="1773.252" cy="144.317" r="1.927"/>
    		<circle id="circle9610" fill="#1A1A1A" cx="1781.091" cy="144.317" r="1.926"/>
    		<path id="path9598" inkscape:connector-curvature="0" fill="#ACACAC" d="M1713.872,128.992c6.623-0.083,2.248,1.908,12.761,1.908
    			c2.902,0,11.369,0.019,17.64,0.029l1.216-1.106h19.312l1.669,1.146c8.476,0.02,12.893,0.029,16.681,0.039l0.919-0.747h6.525v0.764
    			h0.077l-0.097,10.577l-61.681-0.007h-9.8l-16.181,2.312l-11.58-0.062v-0.022c-0.908,0.065-3.346,0.098-3.256-1.476
    			c0.092-1.613,3.397-4.186,4.517-5.016c4.164-3.383,10.698-7.649,17.69-8.164C1711.755,129.058,1712.925,129.004,1713.872,128.992
    			L1713.872,128.992z"/>
    		<path id="path9684" inkscape:connector-curvature="0" fill="#25231F" d="M1708.666,141.575c0.239,0.002,0.381,0.011,0.473,0.018
    			h9.955h1.464h5.865h2.471h61.554c0.022,0,0.044,0.004,0.066,0.007h0.062v0.007c0.303,0.059,0.528,0.323,0.528,0.644v1.039
    			c0,0.327-0.237,0.596-0.55,0.646l-0.008,0.836l-11.775,0.015v0.1c0,0.363-0.293,0.657-0.658,0.657h-1.926
    			c-0.364,0-0.657-0.294-0.657-0.657v-0.095l-64.942,0.081v0.014c0,0.363-0.294,0.657-0.657,0.657h-1.928
    			c-0.362,0-0.656-0.294-0.656-0.657v-0.01l-5.205,0.007c-0.002,0-0.005,0-0.009,0h-8.408c-0.039,0-0.075,0.005-0.113,0.012
    			l-2.277,0.003v-1.053l10.092,0.054c0.35-0.214,0.65-0.403,1.033-0.632c2.563-1.527,5.099-1.699,6.208-1.689V141.575z"/>
    		<path id="path9624" inkscape:connector-curvature="0" fill="#1A1A1A" d="M1707.381,130.089c-0.081,0-0.187,0.011-0.317,0.037
    			c-1.053,0.217-8.052,2.54-12.016,5.791c-0.367,0.302-0.059,0.048-0.305,0.249c0.015,0.005,1.178,0.369,2.256,0.123
    			c1.084-0.247,7.834-2.819,7.834-2.819s0.434-0.123,0.898-0.68c0.465-0.559,1.703-2.105,1.703-2.105
    			S1707.956,130.091,1707.381,130.089z M1694.743,136.166h-0.004v0.006c0.004-0.003,0.001,0,0.004-0.004V136.166z"/>
    		<path id="rect9631" fill="#FFFFFF" d="M1727.49,135.078v2.627c0,0.363,0.294,0.658,0.656,0.658h55.134
    			c0.362,0,0.657-0.295,0.657-0.658v-2.627c0-0.363-0.295-0.656-0.657-0.656h-55.134
    			C1727.784,134.422,1727.49,134.715,1727.49,135.078z"/>
    		<path id="rect9633" fill="#1A1A1A" d="M1728.541,135.735v1.401c0,0.362,0.294,0.656,0.656,0.656h3.196
    			c0.364,0,0.658-0.294,0.658-0.656v-1.401c0-0.364-0.294-0.657-0.658-0.657h-3.196
    			C1728.835,135.078,1728.541,135.371,1728.541,135.735z"/>
    		<path id="rect9635" fill="#1A1A1A" d="M1746.255,130.425v0.394c0,0.091,0.073,0.165,0.164,0.165h3.241
    			c0.091,0,0.163-0.074,0.163-0.165v-0.394c0-0.091-0.072-0.164-0.163-0.164h-3.241
    			C1746.328,130.261,1746.255,130.334,1746.255,130.425z"/>
    		<path id="rect9637" fill="#1A1A1A" d="M1751.159,130.425v0.394c0,0.091,0.074,0.165,0.164,0.165h3.24
    			c0.091,0,0.165-0.074,0.165-0.165v-0.394c0-0.091-0.074-0.164-0.165-0.164h-3.24
    			C1751.233,130.261,1751.159,130.334,1751.159,130.425z"/>
    		<path id="rect9639" fill="#1A1A1A" d="M1755.474,130.425v0.394c0,0.091,0.073,0.165,0.164,0.165h3.24
    			c0.09,0,0.164-0.074,0.164-0.165v-0.394c0-0.091-0.074-0.164-0.164-0.164h-3.24
    			C1755.547,130.261,1755.474,130.334,1755.474,130.425z"/>
    		<path id="rect9641" fill="#1A1A1A" d="M1760.399,130.425v0.394c0,0.091,0.073,0.165,0.164,0.165h3.241
    			c0.091,0,0.163-0.074,0.163-0.165v-0.394c0-0.091-0.072-0.164-0.163-0.164h-3.241
    			C1760.473,130.261,1760.399,130.334,1760.399,130.425z"/>
    		<path id="rect9643" fill="#1A1A1A" d="M1711.899,135.735v1.401c0,0.362,0.295,0.656,0.657,0.656h3.196
    			c0.364,0,0.657-0.294,0.657-0.656v-1.401c0-0.364-0.293-0.657-0.657-0.657h-3.196
    			C1712.194,135.078,1711.899,135.371,1711.899,135.735z"/>
    		<path id="rect9645" fill="#1A1A1A" d="M1734.629,135.735v1.401c0,0.362,0.293,0.656,0.656,0.656h3.196
    			c0.362,0,0.657-0.294,0.657-0.656v-1.401c0-0.364-0.295-0.657-0.657-0.657h-3.196
    			C1734.922,135.078,1734.629,135.371,1734.629,135.735z"/>
    		<path id="rect9647" fill="#1A1A1A" d="M1740.847,135.735v1.401c0,0.362,0.294,0.656,0.656,0.656h3.197
    			c0.362,0,0.657-0.294,0.657-0.656v-1.401c0-0.364-0.295-0.657-0.657-0.657h-3.197
    			C1741.141,135.078,1740.847,135.371,1740.847,135.735z"/>
    		<path id="rect9649" fill="#1A1A1A" d="M1746.934,135.735v1.401c0,0.362,0.294,0.656,0.657,0.656h3.196
    			c0.362,0,0.656-0.294,0.656-0.656v-1.401c0-0.364-0.294-0.657-0.656-0.657h-3.196
    			C1747.228,135.078,1746.934,135.371,1746.934,135.735z"/>
    		<path id="rect9651" fill="#1A1A1A" d="M1753.283,135.735v1.401c0,0.362,0.294,0.656,0.657,0.656h3.196
    			c0.363,0,0.656-0.294,0.656-0.656v-1.401c0-0.364-0.293-0.657-0.656-0.657h-3.196
    			C1753.577,135.078,1753.283,135.371,1753.283,135.735z"/>
    		<path id="rect9653" fill="#1A1A1A" d="M1759.37,135.735v1.401c0,0.362,0.294,0.656,0.656,0.656h3.197
    			c0.363,0,0.656-0.294,0.656-0.656v-1.401c0-0.364-0.293-0.657-0.656-0.657h-3.197
    			C1759.664,135.078,1759.37,135.371,1759.37,135.735z"/>
    		<path id="rect9655" fill="#1A1A1A" d="M1765.589,135.735v1.401c0,0.362,0.294,0.656,0.656,0.656h3.197
    			c0.363,0,0.656-0.294,0.656-0.656v-1.401c0-0.364-0.293-0.657-0.656-0.657h-3.197
    			C1765.883,135.078,1765.589,135.371,1765.589,135.735z"/>
    		<path id="rect9657" fill="#1A1A1A" d="M1771.675,135.735v1.401c0,0.362,0.295,0.656,0.658,0.656h3.196
    			c0.363,0,0.657-0.294,0.657-0.656v-1.401c0-0.364-0.294-0.657-0.657-0.657h-3.196
    			C1771.97,135.078,1771.675,135.371,1771.675,135.735z"/>
    		<path id="rect9659" fill="#1A1A1A" d="M1777.894,135.735v1.401c0,0.362,0.295,0.656,0.658,0.656h3.195
    			c0.363,0,0.658-0.294,0.658-0.656v-1.401c0-0.364-0.295-0.657-0.658-0.657h-3.195
    			C1778.188,135.078,1777.894,135.371,1777.894,135.735z"/>
    		<path id="rect9661" inkscape:connector-curvature="0" fill="#3259A6" d="M1707.86,138.687c-1.109-0.009-3.646,0.163-6.208,1.69
    			c-3.415,2.036-5.539,3.524-5.539,3.524l1.62-0.021c0,0,2.803-1.992,4.686-2.452c1.41-0.344,4.168-0.394,5.467-0.396
    			c0.056,0.015,0.114,0.026,0.175,0.026h11.691c0.365,0,0.657-0.294,0.657-0.657v-1.04c0-0.363-0.292-0.656-0.657-0.656h-11.419
    			C1708.241,138.697,1708.099,138.688,1707.86,138.687L1707.86,138.687z M1725.617,138.704c-0.362,0-0.656,0.294-0.656,0.656v1.041
    			c0,0.362,0.294,0.656,0.656,0.656h64.024c0.363,0,0.656-0.294,0.656-0.656v-1.041c0-0.362-0.293-0.656-0.656-0.656H1725.617z"/>
    		<path id="rect9692" inkscape:connector-curvature="0" fill="#FFFFFF" d="M1711.72,133.125c0.174-0.001,0.268,0.005,0.268,0.005
    			h77.971c0.153,0,0.278,0.124,0.278,0.279c0,0.153-0.125,0.278-0.278,0.278h-77.971c-0.02,0-0.037-0.008-0.054-0.011l-0.008,0.004
    			c0,0-1.896-0.225-4.792,0.671l-2.901,1.168c-0.662,0.33-1.351,0.717-2.062,1.172c-5.512,3.529-11.086,8.516-11.086,8.516
    			l0.195-0.811l-1.559,1.15c0,0,0.715-0.555,1.576-1.225l0.004-0.013l0.463-0.35c1.438-1.12,3.729-2.907,7.247-5.658
    			C1705.218,133.448,1710.497,133.129,1711.72,133.125L1711.72,133.125z"/>
    		<path id="rect9629" fill="#FFFFFF" d="M1720.747,133.546v6.394c0,0.362,0.293,0.656,0.656,0.656h2.364
    			c0.363,0,0.656-0.294,0.656-0.656v-6.394c0-0.363-0.293-0.657-0.656-0.657h-2.364
    			C1721.04,132.889,1720.747,133.183,1720.747,133.546z"/>
    		<path id="rect9694" fill="#3259A6" d="M1720.922,133.704v6.076c0,0.345,0.279,0.623,0.623,0.623h2.08
    			c0.345,0,0.624-0.278,0.624-0.623v-6.076c0-0.345-0.279-0.624-0.624-0.624h-2.08
    			C1721.201,133.08,1720.922,133.359,1720.922,133.704z"/>
    		<path id="rect9703" fill="#CD2322" d="M1708.89,139.199v1.331c0,0.154,0.125,0.279,0.279,0.279h3.065
    			c0.153,0,0.278-0.125,0.278-0.279v-1.331c0-0.153-0.125-0.278-0.278-0.278h-3.065
    			C1709.015,138.921,1708.89,139.046,1708.89,139.199z"/>
    	</g>
    	<g id="Locomotive_x5F_droite_1_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<circle id="path9604_1_" fill="#1A1A1A" cx="1958.05" cy="144.317" r="1.927"/>
    		<circle id="circle9606_1_" fill="#1A1A1A" cx="1950.212" cy="144.317" r="1.927"/>
    		<circle id="circle9608_1_" fill="#1A1A1A" cx="1889.823" cy="144.317" r="1.927"/>
    		<circle id="circle9610_1_" fill="#1A1A1A" cx="1881.984" cy="144.317" r="1.926"/>
    		<path id="path9598_1_" inkscape:connector-curvature="0" fill="#ACACAC" d="M1949.203,128.992
    			c-6.623-0.083-2.248,1.908-12.761,1.908c-2.902,0-11.369,0.019-17.64,0.029l-1.216-1.106h-19.312l-1.669,1.146
    			c-8.476,0.02-12.893,0.029-16.681,0.039l-0.919-0.747h-6.525v0.764h-0.077l0.097,10.577l61.681-0.007h9.8l16.181,2.312
    			l11.58-0.062v-0.022c0.908,0.065,3.346,0.098,3.256-1.476c-0.092-1.613-3.397-4.186-4.517-5.016
    			c-4.164-3.383-10.698-7.649-17.69-8.164C1951.32,129.058,1950.15,129.004,1949.203,128.992L1949.203,128.992z"/>
    		<path id="path9684_1_" inkscape:connector-curvature="0" fill="#25231F" d="M1954.409,141.575
    			c-0.239,0.002-0.381,0.011-0.473,0.018h-9.955h-1.464h-5.865h-2.471h-61.554c-0.022,0-0.044,0.004-0.066,0.007h-0.062v0.007
    			c-0.303,0.059-0.528,0.323-0.528,0.644v1.039c0,0.327,0.237,0.596,0.55,0.646l0.008,0.836l11.775,0.015v0.1
    			c0,0.363,0.293,0.657,0.658,0.657h1.926c0.364,0,0.657-0.294,0.657-0.657v-0.095l64.942,0.081v0.014
    			c0,0.363,0.294,0.657,0.657,0.657h1.928c0.362,0,0.656-0.294,0.656-0.657v-0.01l5.205,0.007c0.002,0,0.005,0,0.009,0h8.408
    			c0.039,0,0.075,0.005,0.113,0.012l2.277,0.003v-1.053l-10.092,0.054c-0.35-0.214-0.65-0.403-1.033-0.632
    			c-2.563-1.527-5.099-1.699-6.208-1.689V141.575z"/>
    		<path id="path9624_1_" inkscape:connector-curvature="0" fill="#1A1A1A" d="M1955.641,130.685c0,0,1.238,1.547,1.703,2.105
    			c0.465,0.557,0.898,0.68,0.898,0.68s6.75,2.572,7.834,2.819c1.078,0.246,2.241-0.118,2.256-0.123
    			c-0.246-0.201,0.063,0.053-0.305-0.249c-3.964-3.251-10.963-5.574-12.016-5.791c-0.131-0.026-0.236-0.037-0.317-0.037
    			C1955.119,130.091,1955.641,130.685,1955.641,130.685z M1968.332,136.168c0.003,0.004,0,0.001,0.004,0.004v-0.006h-0.004V136.168z
    			"/>
    		<path id="rect9631_1_" fill="#FFFFFF" d="M1935.585,135.078v2.627c0,0.363-0.294,0.658-0.656,0.658h-55.134
    			c-0.362,0-0.657-0.295-0.657-0.658v-2.627c0-0.363,0.295-0.656,0.657-0.656h55.134
    			C1935.291,134.422,1935.585,134.715,1935.585,135.078z"/>
    		<path id="rect9633_1_" fill="#1A1A1A" d="M1934.534,135.735v1.401c0,0.362-0.294,0.656-0.656,0.656h-3.196
    			c-0.364,0-0.658-0.294-0.658-0.656v-1.401c0-0.364,0.294-0.657,0.658-0.657h3.196
    			C1934.24,135.078,1934.534,135.371,1934.534,135.735z"/>
    		<path id="rect9635_1_" fill="#1A1A1A" d="M1916.82,130.425v0.394c0,0.091-0.073,0.165-0.164,0.165h-3.241
    			c-0.091,0-0.163-0.074-0.163-0.165v-0.394c0-0.091,0.072-0.164,0.163-0.164h3.241
    			C1916.747,130.261,1916.82,130.334,1916.82,130.425z"/>
    		<path id="rect9637_1_" fill="#1A1A1A" d="M1911.916,130.425v0.394c0,0.091-0.074,0.165-0.164,0.165h-3.24
    			c-0.091,0-0.165-0.074-0.165-0.165v-0.394c0-0.091,0.074-0.164,0.165-0.164h3.24
    			C1911.842,130.261,1911.916,130.334,1911.916,130.425z"/>
    		<path id="rect9639_1_" fill="#1A1A1A" d="M1907.602,130.425v0.394c0,0.091-0.073,0.165-0.164,0.165h-3.24
    			c-0.09,0-0.164-0.074-0.164-0.165v-0.394c0-0.091,0.074-0.164,0.164-0.164h3.24
    			C1907.528,130.261,1907.602,130.334,1907.602,130.425z"/>
    		<path id="rect9641_1_" fill="#1A1A1A" d="M1902.676,130.425v0.394c0,0.091-0.073,0.165-0.164,0.165h-3.241
    			c-0.091,0-0.163-0.074-0.163-0.165v-0.394c0-0.091,0.072-0.164,0.163-0.164h3.241
    			C1902.603,130.261,1902.676,130.334,1902.676,130.425z"/>
    		<path id="rect9643_1_" fill="#1A1A1A" d="M1951.176,135.735v1.401c0,0.362-0.295,0.656-0.657,0.656h-3.196
    			c-0.364,0-0.657-0.294-0.657-0.656v-1.401c0-0.364,0.293-0.657,0.657-0.657h3.196
    			C1950.881,135.078,1951.176,135.371,1951.176,135.735z"/>
    		<path id="rect9645_1_" fill="#1A1A1A" d="M1928.446,135.735v1.401c0,0.362-0.293,0.656-0.656,0.656h-3.196
    			c-0.362,0-0.657-0.294-0.657-0.656v-1.401c0-0.364,0.295-0.657,0.657-0.657h3.196
    			C1928.153,135.078,1928.446,135.371,1928.446,135.735z"/>
    		<path id="rect9647_1_" fill="#1A1A1A" d="M1922.229,135.735v1.401c0,0.362-0.294,0.656-0.656,0.656h-3.197
    			c-0.362,0-0.657-0.294-0.657-0.656v-1.401c0-0.364,0.295-0.657,0.657-0.657h3.197
    			C1921.935,135.078,1922.229,135.371,1922.229,135.735z"/>
    		<path id="rect9649_1_" fill="#1A1A1A" d="M1916.142,135.735v1.401c0,0.362-0.294,0.656-0.657,0.656h-3.196
    			c-0.362,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.294-0.657,0.656-0.657h3.196
    			C1915.848,135.078,1916.142,135.371,1916.142,135.735z"/>
    		<path id="rect9651_1_" fill="#1A1A1A" d="M1909.792,135.735v1.401c0,0.362-0.294,0.656-0.657,0.656h-3.196
    			c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657h3.196
    			C1909.498,135.078,1909.792,135.371,1909.792,135.735z"/>
    		<path id="rect9653_1_" fill="#1A1A1A" d="M1903.705,135.735v1.401c0,0.362-0.294,0.656-0.656,0.656h-3.197
    			c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657h3.197
    			C1903.411,135.078,1903.705,135.371,1903.705,135.735z"/>
    		<path id="rect9655_1_" fill="#1A1A1A" d="M1897.486,135.735v1.401c0,0.362-0.294,0.656-0.656,0.656h-3.197
    			c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657h3.197
    			C1897.192,135.078,1897.486,135.371,1897.486,135.735z"/>
    		<path id="rect9657_1_" fill="#1A1A1A" d="M1891.4,135.735v1.401c0,0.362-0.295,0.656-0.658,0.656h-3.196
    			c-0.363,0-0.657-0.294-0.657-0.656v-1.401c0-0.364,0.294-0.657,0.657-0.657h3.196C1891.105,135.078,1891.4,135.371,1891.4,135.735
    			z"/>
    		<path id="rect9659_1_" fill="#1A1A1A" d="M1885.182,135.735v1.401c0,0.362-0.295,0.656-0.658,0.656h-3.195
    			c-0.363,0-0.658-0.294-0.658-0.656v-1.401c0-0.364,0.295-0.657,0.658-0.657h3.195
    			C1884.887,135.078,1885.182,135.371,1885.182,135.735z"/>
    		<path id="rect9661_1_" inkscape:connector-curvature="0" fill="#3259A6" d="M1955.215,138.687
    			c-0.238,0.002-0.381,0.011-0.473,0.018h-11.419c-0.365,0-0.657,0.293-0.657,0.656v1.04c0,0.363,0.292,0.657,0.657,0.657h11.691
    			c0.061,0,0.119-0.012,0.175-0.026c1.299,0.003,4.057,0.053,5.467,0.396c1.883,0.46,4.686,2.452,4.686,2.452l1.62,0.021
    			c0,0-2.124-1.488-5.539-3.524C1958.86,138.85,1956.324,138.678,1955.215,138.687L1955.215,138.687z M1873.434,138.704
    			c-0.363,0-0.656,0.294-0.656,0.656v1.041c0,0.362,0.293,0.656,0.656,0.656h64.024c0.362,0,0.656-0.294,0.656-0.656v-1.041
    			c0-0.362-0.294-0.656-0.656-0.656H1873.434z"/>
    		<path id="rect9692_1_" inkscape:connector-curvature="0" fill="#FFFFFF" d="M1951.355,133.125
    			c-0.174-0.001-0.268,0.005-0.268,0.005h-77.971c-0.153,0-0.278,0.124-0.278,0.279c0,0.153,0.125,0.278,0.278,0.278h77.971
    			c0.02,0,0.037-0.008,0.054-0.011l0.008,0.004c0,0,1.896-0.225,4.792,0.671l2.901,1.168c0.662,0.33,1.351,0.717,2.062,1.172
    			c5.512,3.529,11.086,8.516,11.086,8.516l-0.195-0.811l1.559,1.15c0,0-0.715-0.555-1.576-1.225l-0.004-0.013l-0.463-0.35
    			c-1.438-1.12-3.729-2.907-7.247-5.658C1957.857,133.448,1952.578,133.129,1951.355,133.125L1951.355,133.125z"/>
    		<path id="rect9629_1_" fill="#FFFFFF" d="M1942.328,133.546v6.394c0,0.362-0.293,0.656-0.656,0.656h-2.364
    			c-0.363,0-0.656-0.294-0.656-0.656v-6.394c0-0.363,0.293-0.657,0.656-0.657h2.364
    			C1942.035,132.889,1942.328,133.183,1942.328,133.546z"/>
    		<path id="rect9694_1_" fill="#3259A6" d="M1942.153,133.704v6.076c0,0.345-0.279,0.623-0.623,0.623h-2.08
    			c-0.345,0-0.624-0.278-0.624-0.623v-6.076c0-0.345,0.279-0.624,0.624-0.624h2.08
    			C1941.874,133.08,1942.153,133.359,1942.153,133.704z"/>
    		<path id="rect9703_1_" fill="#CD2322" d="M1954.186,139.199v1.331c0,0.154-0.125,0.279-0.279,0.279h-3.065
    			c-0.153,0-0.278-0.125-0.278-0.279v-1.331c0-0.153,0.125-0.278,0.278-0.278h3.065
    			C1954.061,138.921,1954.186,139.046,1954.186,139.199z"/>
    	</g>
    	<g id="Attache_x5F_droite">
    		<path d="M1795.762,138.581c0.119,0,0.238,0.121,0.238,0.24h0.959c0.239,0,0.358,0.118,0.358,0.358v4.789
    			c0,0.12-0.119,0.36-0.358,0.36H1796c0,0.119-0.119,0.24-0.238,0.24c-0.241,0-0.36-0.121-0.36-0.24h-0.478
    			c-0.121,0.119-0.241,0.24-0.36,0.24s-0.24-0.121-0.358-0.24h-0.479c-0.119,0.119-0.24,0.24-0.359,0.24
    			c-0.118,0-0.239-0.121-0.36-0.24h-0.479c0,0.119-0.119,0.24-0.237,0.24c-0.24,0-0.359-0.121-0.359-0.24h-0.479
    			c0,0.119-0.12,0.24-0.36,0.24c-0.119,0-0.239-0.121-0.239-0.24h-1.316c-0.239,0-0.36-0.24-0.36-0.36v-4.789
    			c0-0.24,0.121-0.358,0.36-0.358h1.316c0-0.119,0.12-0.24,0.239-0.24c0.24,0,0.24,0.121,0.36,0.24h0.479
    			c0-0.119,0.119-0.24,0.359-0.24c0.118,0,0.237,0.121,0.237,0.24h0.479c0.121-0.119,0.242-0.24,0.36-0.24
    			c0.119,0,0.24,0.121,0.359,0.24h0.598c0-0.119,0.121-0.24,0.24-0.24s0.239,0.121,0.36,0.24h0.478
    			C1795.401,138.702,1795.521,138.581,1795.762,138.581L1795.762,138.581z"/>
    	</g>
    	<g id="Wagon_x5F_mid">
    		<g>
    			<path fill="#1A1A1A" d="M1813.712,146.296c-0.898,0-1.648-0.62-1.86-1.453l3.721,0.004
    				C1815.358,145.679,1814.61,146.296,1813.712,146.296z"/>
    			<path fill="#1A1A1A" d="M1805.874,146.296c-0.904,0-1.656-0.625-1.864-1.464l3.726,0.004
    				C1807.526,145.674,1806.775,146.296,1805.874,146.296z"/>
    			<path fill="#25231F" d="M1813.712,142.442c1.065,0,1.928,0.862,1.928,1.926c0,0.166-0.027,0.325-0.067,0.479l-3.721-0.004
    				c-0.038-0.153-0.065-0.31-0.065-0.475C1811.786,143.305,1812.648,142.442,1813.712,142.442z"/>
    			<path fill="#25231F" d="M1805.874,142.442c1.063,0,1.926,0.862,1.926,1.926c0,0.162-0.026,0.317-0.064,0.468l-3.726-0.004
    				c-0.037-0.149-0.063-0.303-0.063-0.464C1803.947,143.305,1804.81,142.442,1805.874,142.442z"/>
    			<path fill="#FFFFFF" d="M1829.652,138.414v-3.941h-25.968c-0.362,0-0.657,0.293-0.657,0.656v2.627
    				c0,0.363,0.295,0.658,0.657,0.658H1829.652z M1809.071,137.188c0,0.362-0.295,0.656-0.658,0.656h-3.195
    				c-0.363,0-0.658-0.294-0.658-0.656v-1.401c0-0.364,0.295-0.657,0.658-0.657h3.195c0.363,0,0.658,0.293,0.658,0.657V137.188z
    				 M1815.29,137.188c0,0.362-0.295,0.656-0.658,0.656h-3.196c-0.363,0-0.657-0.294-0.657-0.656v-1.401
    				c0-0.364,0.294-0.657,0.657-0.657h3.196c0.363,0,0.658,0.293,0.658,0.657V137.188z M1821.376,137.188
    				c0,0.362-0.294,0.656-0.656,0.656h-3.197c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657h3.197
    				c0.362,0,0.656,0.293,0.656,0.657V137.188z M1827.595,135.786v1.401c0,0.362-0.294,0.656-0.656,0.656h-3.197
    				c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657h3.197
    				C1827.301,135.129,1827.595,135.422,1827.595,135.786z"/>
    			<path fill="#1A1A1A" d="M1826.938,137.844h-3.197c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657
    				h3.197c0.362,0,0.656,0.293,0.656,0.657v1.401C1827.595,137.55,1827.301,137.844,1826.938,137.844z"/>
    			<path fill="#1A1A1A" d="M1820.72,137.844h-3.197c-0.363,0-0.656-0.294-0.656-0.656v-1.401c0-0.364,0.293-0.657,0.656-0.657h3.197
    				c0.362,0,0.656,0.293,0.656,0.657v1.401C1821.376,137.55,1821.082,137.844,1820.72,137.844z"/>
    			<path fill="#1A1A1A" d="M1814.632,137.844h-3.196c-0.363,0-0.657-0.294-0.657-0.656v-1.401c0-0.364,0.294-0.657,0.657-0.657
    				h3.196c0.363,0,0.658,0.293,0.658,0.657v1.401C1815.29,137.55,1814.995,137.844,1814.632,137.844z"/>
    			<path fill="#1A1A1A" d="M1808.413,137.844h-3.195c-0.363,0-0.658-0.294-0.658-0.656v-1.401c0-0.364,0.295-0.657,0.658-0.657
    				h3.195c0.363,0,0.658,0.293,0.658,0.657v1.401C1809.071,137.55,1808.776,137.844,1808.413,137.844z"/>
    			<path fill="#3259A6" d="M1829.901,141.108h-32.578c-0.363,0-0.656-0.294-0.656-0.656v-1.041c0-0.362,0.293-0.656,0.656-0.656
    				h32.329v2.025C1829.652,140.877,1829.753,141.009,1829.901,141.108z"/>
    			<path fill="#FFFFFF" d="M1829.827,134.354v0.119h-0.175v-0.086c0-0.291,0.083-0.506,0.212-0.648h0.543
    				C1830.085,133.762,1829.827,134.024,1829.827,134.354z"/>
    			<rect x="1829.652" y="138.414" fill="#FFFFFF" width="0.175" height="0.341"/>
    			<rect x="1829.652" y="134.473" fill="#FFFFFF" width="0.175" height="3.941"/>
    		</g>
    		<path fill="#ACACAC" d="M1796.371,131.075v-0.764h6.525l0.919,0.747c3.788-0.01,8.205-0.02,16.681-0.039l1.669-1.146h9.313v3.307
    			h-34.471c-0.153,0-0.278,0.124-0.278,0.279c0,0.153,0.125,0.278,0.278,0.278h32.857c-0.129,0.143-0.212,0.357-0.212,0.648v0.086
    			h-25.968c-0.362,0-0.657,0.293-0.657,0.656v2.627c0,0.363,0.295,0.658,0.657,0.658h25.968v0.341h-32.329
    			c-0.363,0-0.656,0.294-0.656,0.656v1.041c0,0.362,0.293,0.656,0.656,0.656h32.578c0.112,0.076,0.25,0.136,0.407,0.136h1.169v0.399
    			h-34.96c-0.022,0-0.044,0.004-0.066,0.007h-0.061l-0.097-10.575H1796.371z"/>
    		<path fill="#25231F" d="M1796.39,141.657v-0.007h0.001v0.002l35.087-0.004v3.218l-15.905-0.02c0.04-0.153,0.067-0.313,0.067-0.479
    			c0-1.063-0.862-1.926-1.928-1.926c-1.063,0-1.926,0.862-1.926,1.926c0,0.165,0.027,0.321,0.065,0.475l-0.416-0.001v0.095
    			c0,0.363-0.293,0.657-0.657,0.657h-1.926c-0.365,0-0.658-0.294-0.658-0.657v-0.1l-0.459-0.001c0.038-0.15,0.064-0.306,0.064-0.468
    			c0-1.063-0.862-1.926-1.926-1.926c-1.064,0-1.927,0.862-1.927,1.926c0,0.161,0.025,0.314,0.063,0.464l-7.591-0.01l-0.008-0.836
    			c-0.313-0.051-0.55-0.319-0.55-0.646v-1.039C1795.861,141.98,1796.087,141.716,1796.39,141.657z"/>
    		<path fill="#3259A6" d="M1830.407,133.738h1.097v7.314h-1.053c-0.345,0-0.624-0.278-0.624-0.623v-1.675v-0.341v-3.941v-0.119
    			C1829.827,134.024,1830.085,133.762,1830.407,133.738z"/>
    		<path fill="#FFFFFF" d="M1797.007,133.181h34.497v0.356h-1.195c-0.173,0-0.327,0.071-0.444,0.201h-32.857
    			c-0.153,0-0.278-0.125-0.278-0.278C1796.729,133.305,1796.854,133.181,1797.007,133.181z"/>
    		<g>
    			<path fill="#25231F" d="M1796.451,141.65c0.022-0.003,0.044-0.007,0.066-0.007h34.986v0.005l-35.113,0.004v-0.002H1796.451z"/>
    		</g>
    		<path fill="#FFFFFF" d="M1830.309,133.537h1.169v0.192h-1.026c-0.016,0-0.028,0.008-0.044,0.009h-0.543
    			C1829.981,133.608,1830.136,133.537,1830.309,133.537z"/>
    		<path fill="#FFFFFF" d="M1829.827,138.755v1.675c0,0.345,0.279,0.623,0.624,0.623h1.026v0.056h-1.576
    			c-0.148-0.1-0.249-0.231-0.249-0.328v-2.025H1829.827z"/>
    		<g>
    			<path fill="#FFFFFF" d="M1831.478,141.108v0.136h-1.169c-0.157,0-0.295-0.06-0.407-0.136H1831.478z"/>
    		</g>
    		<path id="rect9641_2_" fill="#1A1A1A" d="M1830.243,130.343h-3.241c-0.091,0-0.163,0.073-0.163,0.164v0.394
    			c0,0.091,0.072,0.165,0.163,0.165h3.241c0.091,0,0.164-0.074,0.164-0.165v-0.394
    			C1830.407,130.416,1830.334,130.343,1830.243,130.343z"/>
    		<path id="rect9641_3_" fill="#1A1A1A" d="M1825.899,130.343h-3.241c-0.091,0-0.163,0.073-0.163,0.164v0.394
    			c0,0.091,0.072,0.165,0.163,0.165h3.241c0.091,0,0.164-0.074,0.164-0.165v-0.394
    			C1826.063,130.416,1825.99,130.343,1825.899,130.343z"/>
    		<g>
    			<path fill="#1A1A1A" d="M1849.179,146.296c0.898,0,1.648-0.62,1.86-1.453l-3.721,0.004
    				C1847.532,145.679,1848.28,146.296,1849.179,146.296z"/>
    			<path fill="#1A1A1A" d="M1857.017,146.296c0.904,0,1.656-0.625,1.864-1.464l-3.726,0.004
    				C1855.364,145.674,1856.115,146.296,1857.017,146.296z"/>
    			<path fill="#25231F" d="M1849.179,142.442c-1.065,0-1.928,0.862-1.928,1.926c0,0.166,0.027,0.325,0.067,0.479l3.721-0.004
    				c0.038-0.153,0.065-0.31,0.065-0.475C1851.104,143.305,1850.242,142.442,1849.179,142.442z"/>
    			<path fill="#25231F" d="M1857.017,142.442c-1.063,0-1.926,0.862-1.926,1.926c0,0.162,0.026,0.317,0.064,0.468l3.726-0.004
    				c0.037-0.149,0.063-0.303,0.063-0.464C1858.943,143.305,1858.081,142.442,1857.017,142.442z"/>
    			<path fill="#FFFFFF" d="M1859.206,138.414c0.362,0,0.657-0.295,0.657-0.658v-2.627c0-0.363-0.295-0.656-0.657-0.656h-25.968
    				v3.941H1859.206z M1853.819,135.786c0-0.364,0.295-0.657,0.658-0.657h3.195c0.363,0,0.658,0.293,0.658,0.657v1.401
    				c0,0.362-0.295,0.656-0.658,0.656h-3.195c-0.363,0-0.658-0.294-0.658-0.656V135.786z M1847.601,135.786
    				c0-0.364,0.295-0.657,0.658-0.657h3.196c0.363,0,0.657,0.293,0.657,0.657v1.401c0,0.362-0.294,0.656-0.657,0.656h-3.196
    				c-0.363,0-0.658-0.294-0.658-0.656V135.786z M1841.515,135.786c0-0.364,0.294-0.657,0.656-0.657h3.197
    				c0.363,0,0.656,0.293,0.656,0.657v1.401c0,0.362-0.293,0.656-0.656,0.656h-3.197c-0.362,0-0.656-0.294-0.656-0.656V135.786z
    				 M1835.952,135.129h3.197c0.363,0,0.656,0.293,0.656,0.657v1.401c0,0.362-0.293,0.656-0.656,0.656h-3.197
    				c-0.362,0-0.656-0.294-0.656-0.656v-1.401C1835.296,135.422,1835.59,135.129,1835.952,135.129z"/>
    			<path fill="#1A1A1A" d="M1835.952,137.844h3.197c0.363,0,0.656-0.294,0.656-0.656v-1.401c0-0.364-0.293-0.657-0.656-0.657h-3.197
    				c-0.362,0-0.656,0.293-0.656,0.657v1.401C1835.296,137.55,1835.59,137.844,1835.952,137.844z"/>
    			<path fill="#1A1A1A" d="M1842.171,137.844h3.197c0.363,0,0.656-0.294,0.656-0.656v-1.401c0-0.364-0.293-0.657-0.656-0.657h-3.197
    				c-0.362,0-0.656,0.293-0.656,0.657v1.401C1841.515,137.55,1841.809,137.844,1842.171,137.844z"/>
    			<path fill="#1A1A1A" d="M1848.259,137.844h3.196c0.363,0,0.657-0.294,0.657-0.656v-1.401c0-0.364-0.294-0.657-0.657-0.657h-3.196
    				c-0.363,0-0.658,0.293-0.658,0.657v1.401C1847.601,137.55,1847.896,137.844,1848.259,137.844z"/>
    			<path fill="#1A1A1A" d="M1854.478,137.844h3.195c0.363,0,0.658-0.294,0.658-0.656v-1.401c0-0.364-0.295-0.657-0.658-0.657h-3.195
    				c-0.363,0-0.658,0.293-0.658,0.657v1.401C1853.819,137.55,1854.114,137.844,1854.478,137.844z"/>
    			<path fill="#3259A6" d="M1832.989,141.108h32.578c0.363,0,0.656-0.294,0.656-0.656v-1.041c0-0.362-0.293-0.656-0.656-0.656
    				h-32.329v2.025C1833.238,140.877,1833.138,141.009,1832.989,141.108z"/>
    			<path fill="#FFFFFF" d="M1833.063,134.354v0.119h0.175v-0.086c0-0.291-0.083-0.506-0.212-0.648h-0.543
    				C1832.806,133.762,1833.063,134.024,1833.063,134.354z"/>
    			<rect x="1833.063" y="138.414" fill="#FFFFFF" width="0.175" height="0.341"/>
    			<rect x="1833.063" y="134.473" fill="#FFFFFF" width="0.175" height="3.941"/>
    		</g>
    		<path fill="#ACACAC" d="M1866.52,131.075v-0.764h-6.525l-0.919,0.747c-3.788-0.01-8.205-0.02-16.681-0.039l-1.669-1.146h-9.313
    			v3.307h34.471c0.153,0,0.278,0.124,0.278,0.279c0,0.153-0.125,0.278-0.278,0.278h-32.857c0.129,0.143,0.212,0.357,0.212,0.648
    			v0.086h25.968c0.362,0,0.657,0.293,0.657,0.656v2.627c0,0.363-0.295,0.658-0.657,0.658h-25.968v0.341h32.329
    			c0.363,0,0.656,0.294,0.656,0.656v1.041c0,0.362-0.293,0.656-0.656,0.656h-32.578c-0.112,0.076-0.25,0.136-0.407,0.136h-1.169
    			v0.399h34.96c0.022,0,0.044,0.004,0.066,0.007h0.061l0.097-10.575H1866.52z"/>
    		<path fill="#25231F" d="M1866.501,141.657v-0.007h-0.001v0.002l-35.087-0.004v3.218l15.905-0.02
    			c-0.04-0.153-0.067-0.313-0.067-0.479c0-1.063,0.862-1.926,1.928-1.926c1.063,0,1.926,0.862,1.926,1.926
    			c0,0.165-0.027,0.321-0.065,0.475l0.416-0.001v0.095c0,0.363,0.293,0.657,0.657,0.657h1.926c0.365,0,0.658-0.294,0.658-0.657v-0.1
    			l0.459-0.001c-0.038-0.15-0.064-0.306-0.064-0.468c0-1.063,0.862-1.926,1.926-1.926c1.064,0,1.927,0.862,1.927,1.926
    			c0,0.161-0.025,0.314-0.063,0.464l7.591-0.01l0.008-0.836c0.313-0.051,0.55-0.319,0.55-0.646v-1.039
    			C1867.029,141.98,1866.804,141.716,1866.501,141.657z"/>
    		<path fill="#3259A6" d="M1832.483,133.738h-1.097v7.314h1.053c0.345,0,0.624-0.278,0.624-0.623v-1.675v-0.341v-3.941v-0.119
    			C1833.063,134.024,1832.806,133.762,1832.483,133.738z"/>
    		<path fill="#FFFFFF" d="M1865.884,133.181h-34.497v0.356h1.195c0.173,0,0.327,0.071,0.444,0.201h32.857
    			c0.153,0,0.278-0.125,0.278-0.278C1866.162,133.305,1866.037,133.181,1865.884,133.181z"/>
    		<g>
    			<path fill="#25231F" d="M1866.439,141.65c-0.022-0.003-0.044-0.007-0.066-0.007h-34.986v0.005l35.113,0.004v-0.002H1866.439z"/>
    		</g>
    		<path fill="#FFFFFF" d="M1832.582,133.537h-1.169v0.192h1.026c0.016,0,0.028,0.008,0.044,0.009h0.543
    			C1832.909,133.608,1832.755,133.537,1832.582,133.537z"/>
    		<path fill="#FFFFFF" d="M1833.063,138.755v1.675c0,0.345-0.279,0.623-0.624,0.623h-1.026v0.056h1.576
    			c0.148-0.1,0.249-0.231,0.249-0.328v-2.025H1833.063z"/>
    		<g>
    			<path fill="#FFFFFF" d="M1831.413,141.108v0.136h1.169c0.157,0,0.295-0.06,0.407-0.136H1831.413z"/>
    		</g>
    		<path id="rect9641_5_" fill="#1A1A1A" d="M1832.483,130.507v0.394c0,0.091,0.073,0.165,0.164,0.165h3.241
    			c0.091,0,0.163-0.074,0.163-0.165v-0.394c0-0.091-0.072-0.164-0.163-0.164h-3.241
    			C1832.557,130.343,1832.483,130.416,1832.483,130.507z"/>
    		<path id="rect9641_4_" fill="#1A1A1A" d="M1836.827,130.507v0.394c0,0.091,0.073,0.165,0.164,0.165h3.241
    			c0.091,0,0.163-0.074,0.163-0.165v-0.394c0-0.091-0.072-0.164-0.163-0.164h-3.241
    			C1836.9,130.343,1836.827,130.416,1836.827,130.507z"/>
    	</g>
    	<g id="Attache_x5F_gauche">
    		<path d="M1872.137,138.584c0.119,0,0.238,0.121,0.238,0.24h0.959c0.239,0,0.358,0.118,0.358,0.358v4.789
    			c0,0.12-0.119,0.36-0.358,0.36h-0.959c0,0.119-0.119,0.24-0.238,0.24c-0.241,0-0.36-0.121-0.36-0.24h-0.478
    			c-0.121,0.119-0.241,0.24-0.36,0.24s-0.24-0.121-0.358-0.24h-0.479c-0.119,0.119-0.24,0.24-0.359,0.24
    			c-0.118,0-0.239-0.121-0.36-0.24h-0.479c0,0.119-0.119,0.24-0.237,0.24c-0.24,0-0.359-0.121-0.359-0.24h-0.479
    			c0,0.119-0.12,0.24-0.36,0.24c-0.119,0-0.239-0.121-0.239-0.24h-1.316c-0.239,0-0.36-0.24-0.36-0.36v-4.789
    			c0-0.24,0.121-0.358,0.36-0.358h1.316c0-0.119,0.12-0.24,0.239-0.24c0.24,0,0.24,0.121,0.36,0.24h0.479
    			c0-0.119,0.119-0.24,0.359-0.24c0.118,0,0.237,0.121,0.237,0.24h0.479c0.121-0.119,0.242-0.24,0.36-0.24
    			c0.119,0,0.24,0.121,0.359,0.24h0.598c0-0.119,0.121-0.24,0.24-0.24s0.239,0.121,0.36,0.24h0.478
    			C1871.776,138.705,1871.896,138.584,1872.137,138.584L1872.137,138.584z"/>
    	</g>
    </g>
    <g id="Collines">
    	<g id="Pont">
    		<path fill="#666666" d="M1591.387,146.087h331.409v3.765h-331.409c-0.279,0-0.503-0.226-0.503-0.505v-2.758
    			C1590.884,146.313,1591.107,146.087,1591.387,146.087z"/>
    		<path id="rect10035-7" inkscape:connector-curvature="0" fill="#483737" d="M1923.017,149.852c0.453,0,0.816,0.363,0.816,0.813
    			v2.242c0,0.454-0.363,0.817-0.816,0.817h-7.773v3.511c0,0.45-0.365,0.809-0.818,0.809h-1.794v20.809
    			c0,0.45-0.368,0.805-0.821,0.805h-8.07c-0.45,0-0.817-0.354-0.817-0.805v-20.809h-1.794c-0.453,0-0.819-0.358-0.819-0.809v-3.511
    			h-30.155v3.511c0,0.45-0.368,0.809-0.82,0.809h-1.795v20.809c0,0.45-0.365,0.805-0.819,0.805h-8.069
    			c-0.454,0-0.819-0.354-0.819-0.805v-20.809h-1.794c-0.452,0-0.82-0.358-0.82-0.809v-3.511h-22.152h-7.768v3.511
    			c0,0.45-0.367,0.809-0.82,0.809h-1.794v20.809c0,0.021-0.018,0.043-0.018,0.065v10.514c0,0.358-0.289,0.646-0.647,0.646h-8.459
    			c-0.358,0-0.646-0.288-0.646-0.646v-31.388h-1.741c-0.453,0-0.816-0.358-0.816-0.809v-3.511h-7.127h-23.031v3.511
    			c0,0.45-0.363,0.809-0.816,0.809h-1.748v31.427c0,0.337-0.273,0.607-0.611,0.607h-8.538c-0.335,0-0.606-0.271-0.606-0.607v-31.427
    			h-1.797c-0.453,0-0.815-0.358-0.815-0.809v-3.511h-29.948v3.511c0,0.45-0.363,0.809-0.816,0.809h-0.094h-1.651v31.404
    			c0,0.35-0.276,0.63-0.626,0.63h-8.5c-0.346,0-0.627-0.28-0.627-0.63V179.22c-0.059-0.11-0.102-0.231-0.102-0.367v-20.809h-1.702
    			h-0.093c-0.452,0-0.819-0.358-0.819-0.809v-3.511h-7.007h-23.147v3.511c0,0.45-0.368,0.809-0.819,0.809h-1.796v20.809
    			c0,0.45-0.365,0.805-0.819,0.805h-8.072c-0.453,0-0.816-0.354-0.816-0.805v-20.809h-1.798c-0.454,0-0.817-0.358-0.817-0.809
    			v-3.511h-29.943v3.511c0,0.45-0.367,0.809-0.82,0.809h-1.794v20.809c0,0.45-0.368,0.805-0.819,0.805h-8.073
    			c-0.453,0-0.817-0.354-0.817-0.805v-20.809h-1.794c-0.453,0-0.819-0.358-0.819-0.809v-3.384h-21.214
    			c-0.246,0-0.446-0.197-0.446-0.445v-3.109c0-0.244,0.2-0.445,0.446-0.445h14.112h8.65h81.418h89.947h29.832h89.955H1923.017z"/>
    	</g>
    	<g id="Poteaux">
    		<path id="rect10114-6_7_" inkscape:connector-curvature="0" fill="#666666" d="M1570.57,114.013c0.16,0,0.291,0.127,0.291,0.289
    			v1.875h3.257c0.1,0,0.179,0.081,0.179,0.182s-0.079,0.182-0.179,0.182h-3.257v33.02c0,0.162-0.129,0.289-0.291,0.289h-0.237
    			c-0.162,0-0.295-0.127-0.295-0.289v-33.02h-3.255c-0.101,0-0.182-0.081-0.182-0.182s0.081-0.182,0.182-0.182h3.255v-1.875
    			c0-0.162,0.131-0.289,0.295-0.289H1570.57z"/>
    		<path id="rect10114-6_6_" inkscape:connector-curvature="0" fill="#666666" d="M1769.506,114.013c0.16,0,0.291,0.127,0.291,0.289
    			v1.875h3.257c0.1,0,0.179,0.081,0.179,0.182s-0.079,0.182-0.179,0.182h-3.257v33.02c0,0.162-0.129,0.289-0.291,0.289h-0.237
    			c-0.162,0-0.295-0.127-0.295-0.289v-33.02h-3.255c-0.101,0-0.182-0.081-0.182-0.182s0.081-0.182,0.182-0.182h3.255v-1.875
    			c0-0.162,0.131-0.289,0.295-0.289H1769.506z"/>
    		<path id="rect10114-6_5_" inkscape:connector-curvature="0" fill="#666666" d="M1669.976,114.013c0.16,0,0.291,0.127,0.291,0.289
    			v1.875h3.257c0.1,0,0.179,0.081,0.179,0.182s-0.079,0.182-0.179,0.182h-3.257v33.02c0,0.162-0.129,0.289-0.291,0.289h-0.237
    			c-0.162,0-0.295-0.127-0.295-0.289v-33.02h-3.255c-0.101,0-0.182-0.081-0.182-0.182s0.081-0.182,0.182-0.182h3.255v-1.875
    			c0-0.162,0.131-0.289,0.295-0.289H1669.976z"/>
    		<path id="rect10114-6_3_" inkscape:connector-curvature="0" fill="#666666" d="M1869.568,114.013c0.16,0,0.291,0.127,0.291,0.289
    			v1.875h3.257c0.1,0,0.179,0.081,0.179,0.182s-0.079,0.182-0.179,0.182h-3.257v33.02c0,0.162-0.129,0.289-0.291,0.289h-0.237
    			c-0.162,0-0.295-0.127-0.295-0.289v-33.02h-3.255c-0.101,0-0.182-0.081-0.182-0.182s0.081-0.182,0.182-0.182h3.255v-1.875
    			c0-0.162,0.131-0.289,0.295-0.289H1869.568z"/>
    	</g>
    	<g>
    		<path fill="#856940" d="M1044.447,181.918h2.101c0.181,0,0.3,0.119,0.3,0.3c0,0.12-0.119,0.3-0.3,0.3h-0.06v2.28h1.619v-2.34
    			l0.78-0.061c0,0-0.06,0-0.12,0.061v2.34h19.92c0,0,0,0,0-0.061c0-0.66,0.061-1.2,0.24-1.319c-0.061-0.061-0.061-0.12-0.061-0.24
    			l5.041-1.32v0.061c0.06,0.239,0.119,0.479,0.119,0.779c0,0.54-0.18,1.021-0.42,1.261v0.42c0.181-0.301,0.48-0.48,0.84-0.48
    			c0.301,0,0.601,0.18,0.781,0.42c0.119-0.24,0.299-0.42,0.539-0.42c0,0,0.061,0,0.061,0.061v-2.28h3.6v-3.72l-1.02-0.301
    			l9.899-2.52v-2.94h0.06l1.681-1.439h3v-1.8h0.66v1.8h2.22v-1.021h1.801v1.021h7.56l-0.12-3.12l1.32-2.28h8.64v-0.72h0.3v-1.08
    			h0.48v1.08h0.779v-1.74h2.461v1.74h5.399l0.06-2.34h-0.42v-0.42l3.36-3.061v-0.06h0.84v-1.8h1.98v1.8h1.56l1.5-2.16v-0.12h11.64
    			v-1.92h1.141v1.92h1.979l2.16,1.68h5.46v-2.88h1.74v2.88h6.12v0.061c0,0,1.08,0.54,2.04,0.96v-9.721h2.16l3.42-3.359v-0.061h5.22
    			v-6.3h-1.02l8.399-18.36l8.101,18.301h-1.2v6.359h6.06v5.461v4.26c0,0,6.96,20.1,3.601,21.18c0,0-0.061,0.061-0.12,0.061v4.56
    			c0,2.52-1.98,4.5-4.5,4.5h-10.021c-2.46,0-4.5-1.98-4.5-4.5v-2.58c-18.17,1.635-45.495,3.899-64.853,5.485v8.075h-36.503v-3.24
    			h-34.124v-0.96h-1.381v-5.82c-0.18,0-0.299-0.18-0.299-0.3C1044.148,182.037,1044.268,181.918,1044.447,181.918z"/>
    		<g>
    			<path fill="#FFFFFF" d="M1109.315,168.217h1.92c0.12,0,0.24,0.12,0.24,0.24v2.04c0,0.18-0.12,0.239-0.24,0.239h-1.92
    				c-0.12,0-0.24-0.06-0.24-0.239v-2.04C1109.075,168.337,1109.195,168.217,1109.315,168.217L1109.315,168.217z"/>
    			<path fill="#FFFFFF" d="M1114.296,168.217h1.92c0.119,0,0.239,0.12,0.239,0.24v2.04c0,0.18-0.12,0.239-0.239,0.239h-1.92
    				c-0.121,0-0.24-0.06-0.24-0.239v-2.04C1114.056,168.337,1114.175,168.217,1114.296,168.217L1114.296,168.217z"/>
    			<path fill="#FFFFFF" d="M1128.995,161.437h0.54c0.181,0,0.36,0.181,0.36,0.36v2.939c0,0.181-0.18,0.36-0.36,0.36h-0.54
    				c-0.24,0-0.42-0.18-0.42-0.36v-2.939C1128.575,161.617,1128.755,161.437,1128.995,161.437L1128.995,161.437z"/>
    			<path fill="#FFFFFF" d="M1093.835,174.156c0,0.48-0.42,0.841-0.959,0.841c-0.48,0-0.9-0.36-0.9-0.841c0-0.479,0.42-0.84,0.9-0.84
    				C1093.415,173.316,1093.835,173.677,1093.835,174.156L1093.835,174.156z"/>
    			<path fill="#FFFFFF" d="M1186.175,142.597c0,1.021-0.84,1.8-1.92,1.8s-1.92-0.779-1.92-1.8c0-0.96,0.84-1.74,1.92-1.74
    				S1186.175,141.637,1186.175,142.597L1186.175,142.597z"/>
    			<path fill="#FFFFFF" d="M1156.415,161.257h1.92c0.12,0,0.24,0.12,0.24,0.3v2.04c0,0.12-0.12,0.24-0.24,0.24h-1.92
    				c-0.12,0-0.24-0.12-0.24-0.24v-2.04C1156.175,161.377,1156.295,161.257,1156.415,161.257L1156.415,161.257z"/>
    			<path fill="#FFFFFF" d="M1161.396,161.257h1.859c0.181,0,0.301,0.12,0.301,0.3v2.04c0,0.12-0.12,0.24-0.301,0.24h-1.859
    				c-0.181,0-0.24-0.12-0.24-0.24v-2.04C1161.155,161.377,1161.215,161.257,1161.396,161.257L1161.396,161.257z"/>
    			<path fill="#FFFFFF" d="M1136.376,159.337h1.26c0.06,0,0.18,0.06,0.18,0.12v1.38c0,0.12-0.12,0.18-0.18,0.18h-1.26
    				c-0.121,0-0.181-0.06-0.181-0.18v-1.38C1136.195,159.396,1136.255,159.337,1136.376,159.337L1136.376,159.337z"/>
    			<path fill="#FFFFFF" d="M1139.615,159.337h1.26c0.12,0,0.181,0.06,0.181,0.12v1.38c0,0.12-0.061,0.18-0.181,0.18h-1.26
    				c-0.12,0-0.18-0.06-0.18-0.18v-1.38C1139.436,159.396,1139.495,159.337,1139.615,159.337L1139.615,159.337z"/>
    			<path fill="#FFFFFF" d="M1142.915,159.337h1.26c0.12,0,0.181,0.06,0.181,0.12v1.38c0,0.12-0.061,0.18-0.181,0.18h-1.26
    				c-0.12,0-0.18-0.06-0.18-0.18v-1.38C1142.735,159.396,1142.795,159.337,1142.915,159.337L1142.915,159.337z"/>
    		</g>
    	</g>
    	<g id="layer1_19_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<ellipse id="path9345-2_2_" fill="#F5C82E" cx="375.672" cy="216.647" rx="250.024" ry="94.767"/>
    		<path id="path9390-4_2_" inkscape:connector-curvature="0" fill="#EC9628" d="M394.412,122.233
    			c-6.232-0.206-12.483-0.327-18.74-0.355c-0.854,0.008-1.708,0.023-2.562,0.035c-21.024,55.184-29.737,112.942-24.919,165.178
    			h54.064c-2.217-6.405-4.201-13.016-5.945-19.806C385.281,223.036,384.619,172.457,394.412,122.233z"/>
    		<path id="path9398-3_2_" inkscape:connector-curvature="0" fill="#EC9628" d="M286.801,128.103
    			c-0.576,0.073-1.152,0.145-1.728,0.216c-7.771,1.146-15.385,2.438-22.813,3.872c-0.078,0.018-0.154,0.035-0.231,0.053
    			c-42.628,20.954-70.009,59.915-73.849,105.08c-0.563,7.516-0.463,15.112,0.292,22.719l41.494,6.139
    			c-2.456-12.854-3.169-25.904-2.115-38.761C231.38,185.819,253.09,149.244,286.801,128.103L286.801,128.103z"/>
    		<path id="path9394-5_2_" inkscape:connector-curvature="0" fill="#EC9628" d="M344.158,122.755
    			c-3.672,0.137-7.332,0.305-10.98,0.504c-4.695,0.346-9.362,0.743-13.995,1.19c-43.55,34.12-68.601,83.459-68.729,135.369
    			c0.091,9.136,0.952,18.254,2.582,27.272h52.217c-4.234-15.253-6.403-31.043-6.447-46.91
    			C298.934,196.496,315.152,154.506,344.158,122.755z"/>
    		<path id="path9388-2_2_" inkscape:connector-curvature="0" fill="#EC9628" d="M455.131,126.886
    			c-1.85-0.266-3.707-0.522-5.572-0.771c-7.426-0.859-14.955-1.589-22.561-2.186c-0.931,57.405,3.665,113.126,13.46,163.162h51.792
    			c-5.838-14.473-11.172-30.102-15.938-46.722C466.588,205.737,459.416,167.324,455.131,126.886z"/>
    	</g>
    	<path fill="#BBD531" d="M1138.366,187.311c80.025-48.344,85.288-59.902,183.216-83.024
    		c97.927-23.121,412.767,87.228,474.893,87.228c28.156,0,76.21-20.291,126.321-44.047v108.43h-371.914
    		C1318.808,236.52,1098.698,211.273,1138.366,187.311z"/>
    	<path fill="#5F6B19" d="M-0.904,29.275c5.811,3.991,18.046,7.019,41.368-6.604C77.186,1.403,85.553,0.474,85.553,0.474
    		s0-0.348,1.046-0.464c1.629-0.116,6.043,0.697,17.547,5.694c18.247,7.902,26.033,18.245,26.033,18.245s9.066,15.341,26.729,18.595
    		c17.666,3.254,33.238,12.435,33.238,12.435s26.147,15.224,74.957,65.195l45.092,45.207l-42.07,33.004H-0.904V29.275z"/>
    	<path fill="#BBD531" d="M-0.904,171.931c32.004-13.655,65.25-29.657,84.712-38.043c31.729-13.597,79.959-19.524,106.455-19.407
    		c3.834,0,7.204,0.233,9.995,0.466c22.429,2.207,27.191,2.556,74.955,15.921c39.513,11.039,84.603,52.991,99.364,67.518H-0.904
    		V171.931z"/>
    	<g id="layer1_11_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="path9384_2_" inkscape:connector-curvature="0" fill="#856940" d="M1452.995,104.039l-12.897-66.695l-1.402,0.313
    			l4.981,27.552l-9.807-4.98l0.555,38.474L1452.995,104.039z"/>
    		<path id="path9389_2_" inkscape:connector-curvature="0" fill="#6D4C36" d="M1418.998,91.728l8.957-39.764l8.25-4.204l2.306,14.85
    			l-4.562-2.239L1418.998,91.728z"/>
    		<path id="path9395_2_" inkscape:connector-curvature="0" fill="#666666" d="M1294.523,109.571l0.254,5.416l230.273,13.208v-7.926
    			l-29.382-1.047l-1.157-2.934l-60.736-15.176l-105.242-0.146l-31.892,0.005L1294.523,109.571z"/>
    		<path id="path9402_2_" inkscape:connector-curvature="0" fill="#6D4C36" d="M1321.636,88.679l40.287,10.568l57.236-6.606
    			l15.413,7.047l48.839,14.273v0.344l13.395,2.332l-13.523-0.861l-1.159,1.743l-51.955-1.761l-37.646-7.924l-20.476,5.723
    			l-41.383-5.945l-30.824,1.103l-2.641-4.845l-1.982,6.605l-1.98,0.882l2.642-11.891L1321.636,88.679z"/>
    		<path id="path9374_2_" inkscape:connector-curvature="0" fill="#9F845F" d="M1497.093,116.749l-62.521-18.271l-15.412-7.047
    			l-57.237,6.606l-40.288-10.567l-25.757,10.786l-2.642,11.889l1.98-0.882l1.982-6.604l2.643,4.844l30.82-1.1l41.387,5.943
    			l20.474-5.723l37.646,7.924l51.955,1.762l1.321-1.983L1497.093,116.749z"/>
    		<path id="path9376_2_" inkscape:connector-curvature="0" fill="#856940" d="M1434.527,98.457l-4.552,16.049l-37.507-7.868
    			l26.655-15.201L1434.527,98.457z"/>
    		<path id="path9378_2_" inkscape:connector-curvature="0" fill="#856940" d="M1361.948,98.032l10.185,14.289l-40.764-5.817
    			l-9.746-19.03L1361.948,98.032z"/>
    		<path id="path9380_2_" inkscape:connector-curvature="0" fill="#856940" d="M1295.847,98.399l1.334,4.319l-2.03,6.574
    			l-1.914,0.852L1295.847,98.399z"/>
    		<path id="path9386_2_" inkscape:connector-curvature="0" fill="#9F845F" d="M1429.045,54.233l4.979,3.58l0.47,40.627
    			l-15.557-6.983L1429.045,54.233z"/>
    		<path id="path9393_2_" inkscape:connector-curvature="0" fill="#9F845F" d="M1443.729,65.272l-5.258-2.68l-2.696-16.637
    			l3.009-8.367L1443.729,65.272z"/>
    	</g>
    </g>
    <g id="Sol">
    	<g>
    		<g>
    			<path fill="none" d="M-0.904,248.807v-0.021h0.354C-0.669,248.785-0.786,248.802-0.904,248.807z"/>

    				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="958.1533" y1="276.1191" x2="958.1533" y2="248.7852" gradientTransform="matrix(-1 0 0 1 1919.0957 0)">
    				<stop  offset="0" style="stop-color:#A4CC4B"/>
    				<stop  offset="0.3632" style="stop-color:#A4CC4C"/>
    				<stop  offset="0.494" style="stop-color:#A4CB50"/>
    				<stop  offset="0.5873" style="stop-color:#A5CA57"/>
    				<stop  offset="0.6621" style="stop-color:#A5C760"/>
    				<stop  offset="0.7151" style="stop-color:#A5C46A"/>
    				<stop  offset="0.9624" style="stop-color:#729F27"/>
    				<stop  offset="1" style="stop-color:#629214"/>
    			</linearGradient>
    			<path fill="url(#SVGID_1_)" d="M-0.55,248.785h1923.339v27.334H-0.55c-0.119,0-0.236-0.017-0.354-0.021v-27.291
    				C-0.786,248.802-0.669,248.785-0.55,248.785z"/>

    				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="958.1533" y1="226.4248" x2="958.1533" y2="187.6182" gradientTransform="matrix(-1 0 0 1 1919.0957 0)">
    				<stop  offset="0" style="stop-color:#5D9425"/>
    				<stop  offset="0.0914" style="stop-color:#A4CC4B"/>
    				<stop  offset="0.4833" style="stop-color:#A2CB49"/>
    				<stop  offset="0.6244" style="stop-color:#9CC544"/>
    				<stop  offset="0.725" style="stop-color:#91BC3C"/>
    				<stop  offset="0.8058" style="stop-color:#83AF32"/>
    				<stop  offset="0.871" style="stop-color:#729F27"/>
    				<stop  offset="1" style="stop-color:#559025"/>
    			</linearGradient>
    			<rect x="-0.904" y="187.618" fill="url(#SVGID_2_)" width="1923.693" height="38.807"/>
    		</g>
    		<path fill="#514638" d="M-1.036,275.849c1.737-0.072,3.527-0.113,5.361-0.113h1910.018c2.943,0,5.779,0.101,8.453,0.285v10.246
    			H-1.036V275.849z"/>

    			<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="958.1533" y1="248.7852" x2="958.1533" y2="226.4258" gradientTransform="matrix(-1 0 0 1 1919.0957 0)">
    			<stop  offset="0.0108" style="stop-color:#444444"/>
    			<stop  offset="0.0194" style="stop-color:#555555"/>
    			<stop  offset="0.0371" style="stop-color:#707070"/>
    			<stop  offset="0.0527" style="stop-color:#818181"/>
    			<stop  offset="0.0645" style="stop-color:#878787"/>
    			<stop  offset="0.4303" style="stop-color:#858585"/>
    			<stop  offset="0.648" style="stop-color:#7C7C7C"/>
    			<stop  offset="0.8263" style="stop-color:#6E6E6E"/>
    			<stop  offset="0.8978" style="stop-color:#666666"/>
    			<stop  offset="1" style="stop-color:#444444"/>
    		</linearGradient>
    		<polygon fill="url(#SVGID_3_)" points="-0.904,248.785 -0.904,226.426 1922.789,226.426 1922.789,248.785 -0.551,248.785 		"/>
    		<rect x="1480.313" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="1431.042" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1381.772" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="1332.501" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1283.231" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="1233.96" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1184.689" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1135.419" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1086.148" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1036.878" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="987.607" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="938.337" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="889.066" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="839.796" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="790.525" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="741.255" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="691.984" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="642.714" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="593.443" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="544.173" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="494.902" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="445.632" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="396.361" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="347.091" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="297.819" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="248.55" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="199.278" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="150.009" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="100.737" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="51.467" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="2.196" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1874.739" y="236.662" fill="#FAFAFA" width="24.635" height="2.5"/>
    		<rect x="1825.468" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1776.197" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1726.927" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1677.656" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1628.386" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1579.115" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    		<rect x="1529.845" y="236.662" fill="#FAFAFA" width="24.636" height="2.5"/>
    	</g>
    </g>
    <g id="Batiments_x5F_etc">
    	<ellipse opacity="0.5" cx="250.965" cy="216.647" rx="23.304" ry="3"/>
    	<ellipse opacity="0.5" cx="95.833" cy="215.834" rx="23.304" ry="3"/>
    	<path opacity="0.5" d="M1002.854,231.885c0.398,0.007,1.322,0.007,2.158,0.005c-0.42,1.082-0.726,2.021-0.729,2.027l0,0
    		c0,0-1.043,1.791,4.905,2.955c0,0,0.008-0.001,0.009-0.002c5.647,1.306,20.904,3.612,24.157,4.014
    		c3.32,0.41,6.884,0.937,16.557,0.995c3.629,0.022,7.902,0.094,12.051,0.104l0,0c6.914,0.016,13.479-0.14,16.117-0.981
    		c0.503-0.16,1.068-0.329,1.671-0.502c2.205-0.606,11.036-2.776,11.036-2.776s36.055,0.703,37.553-3.277
    		c0.086-0.231,0-0.457-0.231-0.677c-0.399-0.479-4.287-4.85-13.881-5.791c-1.598-0.156-3.494-0.119-5.539,0.043
    		c-3.471-1.729-8.588-2.929-13.239-2.929c-4.546,0-7.402,1.147-7.756,2.814h-51.402c-3.463-1.667-8.458-2.814-13.006-2.814
    		c-4.648,0-7.529,1.199-7.776,2.927l-7.386-0.012c0,0-0.625-0.109-1.549,0.842l-5.368-0.022c0,0-0.382-0.015-0.364,0.146
    		c0.017,0.161,1.41,2.766,1.41,2.766S1002.039,231.87,1002.854,231.885z"/>
    	<polygon opacity="0.5" points="375.343,222.037 393.089,222.037 393.089,210.851 656.144,210.851 694.599,260.005 405.045,260.005
    		385.69,235.266 369.488,235.266 363.632,227.779 379.835,227.779 	"/>
    	<polygon opacity="0.5" points="794.256,228.022 794.256,216.646 1014.143,216.646 1045.981,257.344 806.242,257.344
    		783.304,228.022 	"/>
    	<path opacity="0.5" d="M1489.758,210.981c0,1.13,1.084,2.046,2.421,2.046h72.572c1.338,0,2.421-0.916,2.421-2.046l0,0
    		c0-1.13-1.083-2.046-2.421-2.046h-72.572C1490.842,208.936,1489.758,209.852,1489.758,210.981L1489.758,210.981z"/>
    	<ellipse opacity="0.5" cx="1137.816" cy="204.09" rx="38.369" ry="3.461"/>
    	<g id="layer1_9_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<rect id="rect13990_1_" x="679.249" y="146.287" fill="#444444" width="54.037" height="25.256"/>
    		<rect id="rect13992_1_" x="679.249" y="168.842" fill="#C3A96F" width="54.037" height="30.896"/>
    		<rect id="rect13994_1_" x="701.333" y="176.595" fill="#6E3A1E" width="9.868" height="23.143"/>
    		<path id="path14048_1_" inkscape:connector-curvature="0" fill="#7E421D" d="M706.622,155.398l13.717,11.208h-27.433
    			L706.622,155.398z"/>
    		<path id="rect13984-3_1_" inkscape:connector-curvature="0" fill="#D3BF91" d="M706.622,156.756l12.055,9.851h-24.109
    			L706.622,156.756z"/>
    		<rect id="rect14015_1_" x="720.245" y="133.114" fill="#D3BF91" width="5.732" height="16.281"/>
    		<rect id="rect14085-10_1_" x="718.065" y="179.382" fill="#61341E" width="9.012" height="10.466"/>
    		<rect id="rect14087-7_1_" x="718.646" y="180.025" fill="#57AEC9" width="7.85" height="9.179"/>
    		<rect id="rect14089-19_1_" x="722.271" y="179.839" fill="#61341E" width="0.602" height="9.636"/>
    		<rect id="rect14148_1_" x="686.167" y="179.382" fill="#61341E" width="9.013" height="10.466"/>
    		<rect id="rect14150_1_" x="686.749" y="180.025" fill="#57AEC9" width="7.85" height="9.179"/>
    		<rect id="rect14152_1_" x="690.372" y="179.839" fill="#61341E" width="0.603" height="9.636"/>
    		<g id="g14196-8_1_" transform="translate(782.20764,28.435519)">
    			<circle id="path14190-9_1_" fill="#61341E" cx="-75.585" cy="134.583" r="2.492"/>
    			<circle id="circle14192-3_1_" fill="#57AEC9" cx="-75.585" cy="134.582" r="1.952"/>
    			<rect id="rect14194-87_1_" x="-75.793" y="132.298" fill="#61341E" width="0.415" height="4.527"/>
    		</g>
    		<rect id="rect14265_1_" x="679.252" y="168.666" fill="#FFFFFF" width="54.034" height="1.08"/>
    		<rect id="rect14301_1_" x="701.682" y="177.412" fill="#7E421D" width="9.171" height="21.506"/>
    		<rect id="rect14362-0_1_" x="679.26" y="169.532" fill="#4D4D4D" fill-opacity="0.411" width="54.026" height="5.18"/>
    		<rect id="rect14391_1_" x="723.593" y="133.114" fill="#4D4D4D" fill-opacity="0.411" width="2.386" height="16.281"/>
    	</g>
    	<g id="layer1_8_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<rect id="rect13966_1_" x="995.333" y="146.279" fill="#EAD19B" width="61.145" height="53.129"/>
    		<rect id="rect13968_1_" x="995.333" y="123.464" fill="#861807" width="61.145" height="24.386"/>
    		<rect id="rect13970_1_" x="995.333" y="169.072" fill="#861807" width="61.145" height="6.063"/>
    		<rect id="rect13982_1_" x="1000.839" y="173.704" fill="#6E3A1E" width="10.545" height="25.704"/>
    		<path id="path14045_1_" inkscape:connector-curvature="0" fill="#61341E" d="M1025.905,129.345l16.031,13.101h-32.063
    			L1025.905,129.345z"/>
    		<path id="rect13984_1_" inkscape:connector-curvature="0" fill="#EAD19B" d="M1025.905,131.392l13.525,11.054h-27.051
    			L1025.905,131.392z"/>
    		<rect id="rect14085-1_1_" x="1040.144" y="175.081" fill="#61341E" width="10.113" height="11.744"/>
    		<rect id="rect14087-8_1_" x="1040.796" y="175.803" fill="#57AEC9" width="8.809" height="10.301"/>
    		<rect id="rect14089-9_1_" x="1044.862" y="175.594" fill="#61341E" width="0.676" height="10.812"/>
    		<rect id="rect14085-5_1_" x="1016.189" y="175.081" fill="#61341E" width="10.113" height="11.744"/>
    		<rect id="rect14087-2_1_" x="1016.841" y="175.803" fill="#57AEC9" width="8.809" height="10.301"/>
    		<rect id="rect14089-8_1_" x="1020.907" y="175.594" fill="#61341E" width="0.676" height="10.812"/>
    		<rect id="rect14085-9_1_" x="1034.179" y="152.432" fill="#61341E" width="10.112" height="11.744"/>
    		<rect id="rect14087-24_1_" x="1034.831" y="153.154" fill="#57AEC9" width="8.808" height="10.299"/>
    		<rect id="rect14089-1_1_" x="1038.896" y="152.944" fill="#61341E" width="0.677" height="10.813"/>
    		<rect id="rect14132_1_" x="1007.24" y="152.432" fill="#61341E" width="10.113" height="11.744"/>
    		<rect id="rect14134_1_" x="1007.894" y="153.154" fill="#57AEC9" width="8.808" height="10.299"/>
    		<rect id="rect14136_1_" x="1011.96" y="152.944" fill="#61341E" width="0.675" height="10.813"/>
    		<g id="g14196-6_1_" transform="translate(771.15816,-68.530698)">
    			<circle id="path14190-7_1_" fill="#61341E" cx="254.747" cy="205.449" r="2.796"/>
    			<circle id="circle14192-9_1_" fill="#57AEC9" cx="254.747" cy="205.449" r="2.19"/>
    			<rect id="rect14194-8_1_" x="254.515" y="202.886" fill="#61341E" width="0.466" height="5.08"/>
    		</g>
    		<rect id="rect14261_1_" x="995.335" y="147.864" fill="#FFFFFF" width="61.143" height="1.212"/>
    		<rect id="rect14263_1_" x="995.335" y="173.776" fill="#FFFFFF" width="61.143" height="1.211"/>
    		<rect id="rect14297_1_" x="1001.513" y="175.604" fill="#7E421D" width="9.196" height="10.794"/>
    		<rect id="rect14299_1_" x="1001.513" y="187.876" fill="#7E421D" width="9.196" height="10.796"/>
    		<rect id="rect14360_1_" x="995.316" y="149.075" fill="#4D4D4D" fill-opacity="0.411" width="61.175" height="5.813"/>
    		<rect id="rect14362_1_" x="995.316" y="175.004" fill="#4D4D4D" fill-opacity="0.411" width="61.175" height="5.813"/>
    	</g>
    	<g>
    		<path fill="#78951F" d="M1127.131,171.731c1.612,0,3.104,0.126,4.717,0.374c10.309,1.738,18.379,9.065,20.117,18.256
    			c3.23-2.484,7.203-2.981,10.557-1.489c5.217,2.358,7.327,9.063,4.72,15.025c-0.126,0-0.126,0.123-0.126,0.123
    			c-0.371-0.123-0.62-0.123-0.994-0.123h-62.089c0-6.583,0.372-11.178,0.372-11.178l0,0c0-1.117,0-2.235,0.248-3.353
    			C1106.268,179.308,1115.705,171.857,1127.131,171.731L1127.131,171.731L1127.131,171.731z"/>
    		<path fill="#546D0A" d="M1124.109,176.123c2.856,0,6.953,0.497,11.922,2.359c7.449,2.855,11.052,11.921,12.418,16.269
    			c8.693-1.492,9.19-1.243,9.19-1.243s4.346-0.372,6.332,4.594c0.746,2.112,0.62,4.223,0.124,5.963h-57.992
    			c-0.126-0.871-0.126-1.74,0-2.609c1.489-22.602,13.658-24.835,13.658-24.835S1121.376,176.123,1124.109,176.123L1124.109,176.123z
    			"/>
    	</g>
    	<ellipse opacity="0.5" cx="760.595" cy="195.953" rx="13.547" ry="2.295"/>
    	<g>
    		<path fill="#91C11E" d="M762.217,131.129c0,0,10.874,1.42,13.592,14.539c2.719,13.121-6.855,19.857-6.855,19.857
    			s-4.137,3.428-9.573,3.662c-5.437,0.12-10.282-3.898-10.282-3.898s-7.801-5.083-5.793-15.719
    			c2.009-10.521,7.801-16.432,7.801-16.432S754.178,128.529,762.217,131.129L762.217,131.129z"/>
    		<path fill="#80AE1B" d="M757.133,130.301c0.236,0,0.593,0,0.946,0c-2.601,0.711-3.664,2.248-3.664,2.248
    			s-5.317,5.555-7.209,15.247c-1.773,9.692,5.317,14.421,5.317,14.421s4.492,3.662,9.456,3.426c4.964-0.117,8.747-3.191,8.747-3.191
    			s2.127-1.535,4.019-4.49c-2.246,5.083-5.792,7.564-5.792,7.564s-4.137,3.428-9.573,3.662c-5.437,0.12-10.282-3.898-10.282-3.898
    			s-7.801-5.083-5.793-15.719c2.009-10.521,7.801-16.549,7.801-16.549S752.879,130.54,757.133,130.301L757.133,130.301z"/>
    		<path fill="#665222" d="M763.517,196.375l-1.182-32.033l4.728-5.673l-5.319,3.429l-1.418-17.021l-1.419,14.303l-6.619-5.674
    			l5.082,7.445c0,0,1.42,1.066,1.064,5.676c-0.236,4.727-0.591,29.549-0.591,29.549H763.517z"/>
    	</g>
    	<path fill="#91C11E" d="M1061.336,117.514c8.861,0,16.021,7.16,16.021,16.022c0,2.271-0.456,4.431-1.364,6.588
    		c3.977,2.045,6.361,6.137,6.361,10.566c0,6.591-5.339,11.929-11.814,11.929c-6.023,0-11.021-4.43-11.815-10.338
    		c-2.955,5-8.182,7.953-13.976,8.067c-8.862,0-16.02-7.271-16.02-16.134s7.157-16.02,16.02-16.02c0.453,0,0.909,0,1.479,0.115
    		C1048.384,121.834,1054.518,117.514,1061.336,117.514L1061.336,117.514z"/>
    	<path fill="#80AF1B" d="M1044.634,128.195c-3.521,2.272-5.793,6.816-5.793,11.816c0,7.386,4.657,13.291,10.339,13.291
    		c2.953,0,5.68-1.589,7.611-4.202c1.933,2.157,4.545,3.863,7.613,4.998c7.61,2.5,15.564,0.228,17.837-5.111
    		c0.112,0.566,0.112,1.136,0.112,1.703c0,6.591-5.339,11.929-11.814,11.929c-6.023,0-11.021-4.43-11.815-10.338
    		c-2.955,5-8.182,7.953-13.976,8.067c-8.862,0-16.02-7.271-16.02-16.134C1028.729,135.466,1035.773,128.311,1044.634,128.195
    		L1044.634,128.195z"/>
    	<path fill="#665222" d="M1061.109,202.84l-1.362-46.355l5.564-8.179l-6.359,5.113l-1.705-24.655l-1.818,20.564l-7.727-8.065
    		l6.021,10.565c0,0,1.705,1.703,1.365,8.406c-0.341,6.704-0.795,42.605-0.795,42.605H1061.109z"/>
    	<g>
    		<path fill="#78951F" d="M249.014,161.607c-0.741-1.112-14.454-4.079-15.012-34.104c-0.557-30.026,5.001-53.009,5.001-53.009
    			s1.485-10.01,8.343-10.379c6.855-0.371,13.164,10.564,13.164,10.564s8.151,11.861,7.41,35.771
    			c-0.742,24.093-3.521,37.068-3.521,37.068s-2.78,10.008-11.121,14.087C245.121,165.684,249.014,161.607,249.014,161.607
    			L249.014,161.607z"/>
    		<path fill="#546D0A" d="M248.089,64.116c2.41,0.185,4.817,1.666,6.856,3.52c-1.299-0.74-2.594-1.111-4.078-1.111
    			c-6.115,0.371-7.412,9.268-7.412,9.268s-5.006,20.574-4.452,47.263c0.374,15.756,4.637,22.984,8.343,26.691
    			c0.188,0.184,0.373,0.184,0.743,0.371c7.784,5.745,15.569-4.266,15.755-4.45c0.555-0.741,0.924-1.667,1.299-2.224
    			c-0.561,2.596-0.744,4.077-0.744,4.077s-2.78,10.008-11.121,14.087c-8.156,4.076-4.264,0-4.264,0
    			c-0.741-1.112-14.454-4.079-15.012-34.104c-0.557-30.026,5.001-53.009,5.001-53.009s1.485-10.01,8.343-10.379
    			C247.534,64.116,247.905,64.116,248.089,64.116L248.089,64.116L248.089,64.116z"/>
    		<path fill="#665222" d="M246.742,216.137l1.887-62.25l-7.546-10.985l8.655,6.769l2.329-33.178l2.332,27.852l10.43-10.984
    			l-8.1,14.313c0,0-2.22,2.108-1.775,11.206c0.443,8.99,0.999,57.258,0.999,57.258H246.742z"/>
    	</g>
    	<g>
    		<path fill="#78951F" d="M93.882,161.305c-0.741-1.112-14.454-4.079-15.012-34.104c-0.557-30.026,5.001-53.009,5.001-53.009
    			s1.485-10.01,8.343-10.379c6.855-0.371,13.164,10.564,13.164,10.564s8.151,11.861,7.41,35.771
    			c-0.742,24.093-3.521,37.068-3.521,37.068s-2.78,10.008-11.121,14.087C89.99,165.381,93.882,161.305,93.882,161.305
    			L93.882,161.305z"/>
    		<path fill="#546D0A" d="M92.957,63.813c2.41,0.185,4.817,1.666,6.856,3.52c-1.299-0.74-2.594-1.111-4.078-1.111
    			c-6.115,0.371-7.412,9.268-7.412,9.268s-5.006,20.574-4.452,47.263c0.374,15.756,4.637,22.984,8.343,26.691
    			c0.188,0.184,0.373,0.184,0.743,0.371c7.784,5.745,15.569-4.266,15.755-4.45c0.555-0.741,0.924-1.667,1.299-2.224
    			c-0.561,2.596-0.744,4.077-0.744,4.077s-2.78,10.008-11.121,14.087c-8.156,4.076-4.264,0-4.264,0
    			c-0.741-1.112-14.454-4.079-15.012-34.104c-0.557-30.026,5.001-53.009,5.001-53.009s1.485-10.01,8.343-10.379
    			C92.403,63.813,92.773,63.813,92.957,63.813L92.957,63.813L92.957,63.813z"/>
    		<path fill="#665222" d="M91.611,215.834l1.887-62.25l-7.546-10.985l8.655,6.769l2.329-33.178l2.332,27.852l10.43-10.984
    			l-8.1,14.313c0,0-2.22,2.108-1.775,11.206c0.443,8.99,0.999,57.258,0.999,57.258H91.611z"/>
    	</g>
    	<path opacity="0.5" d="M1439.66,198.542l0.006,0.024h0.021l0.57,0.064v0.002l2.162,0.004l0.975,2.103l-2.577,0.011l0.749,1.313
    		l0.602,0.091l0.002,0.003l1.883,0.004l0.544,1.177h8.535l0.418-0.066h0.023l-0.88-1.095l4.615,0.009l0.57,1.114l9.744,0.038
    		l0.439-0.066h-0.002h0.002l-1.016-1.067l5.303,0.011l0.649,1.161l9.096-0.076l0.437-0.066h0.005l-0.001-0.001l0,0l0,0l-0.901-1
    		l5.377,0.01l0.643,1.058l8.553,0.038l0.417-0.067l0.023,0.001l-0.004-0.004h0.001h-0.001l-0.93-1.009l2.932,0.006l-1.459-1.635
    		h-0.002l-0.603-0.093l-0.001-0.001l-2.445,0.01l-0.1-0.107l0,0l-1.572-1.706l4.83,0.009l-2.07-1.742l-0.592-0.066l-3.813,0.015
    		l-0.097-0.105h-0.001l-1.652-1.793l-5.973-0.038l0.042,0.07l-0.483-0.004l1.154,1.897l-6.892,0.026l-0.095-0.105l0,0l-1.633-1.81
    		h-6.351l0.037,0.067h-0.478l0.991,1.771h-0.001l0.059,0.105l-7.303,0.028l-1.807-1.896l-6.171-0.038l0.036,0.07l-0.477-0.003
    		l0.971,1.896l-6.078,0.023l-0.045-0.055l-0.04-0.051l0,0l-1.513-1.881l-5.775-0.038l0.033,0.07l-0.473-0.003l0.92,1.984
    		l-2.438,0.009l0.186,0.696l-0.022-0.002l0.159,0.597l0.006,0.023h0.021h0.001L1439.66,198.542z M1485.948,200.492l0.051,0.084
    		l-5.836,0.022l-0.098-0.107l0,0l-1.611-1.786l6.414,0.012L1485.948,200.492z M1471.465,200.632l-5.893,0.022l-0.102-0.107h-0.002
    		l-1.781-1.87l6.689,0.013L1471.465,200.632z M1451.428,200.602l-1.569-1.951l5.646,0.012l0.983,1.92h-0.001l0.056,0.107
    		l-5.029,0.02L1451.428,200.602L1451.428,200.602z"/>
    	<g id="layer1_7_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="path8793_3_" inkscape:connector-curvature="0" fill="#673A26" d="M1468.424,195.108h6.4l3.549-42.386l0.527-0.256
    			l-0.477-0.358l-9.199-0.399L1468.424,195.108z M1484.026,152.108l-1.201,43.4l6-0.2l3.748-42.79l0.525-0.238l-0.473-0.371
    			L1484.026,152.108z M1454.026,152.108l-0.4,42.801l6.199-0.2l3.945-42.224l0.529-0.224l-0.475-0.353L1454.026,152.108z
    			 M1440.625,151.909v43.199l5.799-0.199l2.762-42.396l0.512-0.234l-0.473-0.37H1440.625z"/>
    		<path id="path8767_3_" inkscape:connector-curvature="0" fill="#955123" d="M1468.901,195.463h6.398l3.602-43l-9.201-0.4
    			L1468.901,195.463z M1484.5,152.463l-1.201,43.399l6-0.199l3.801-43.4L1484.5,152.463z M1454.5,152.463l-0.4,42.8l6.199-0.2
    			l4-42.8L1454.5,152.463z M1441.1,152.263v43.2l5.801-0.2l2.799-43H1441.1z"/>
    		<path id="path8813_3_" inkscape:connector-curvature="0" fill="#673A26" d="M1495.018,158.637l-53.082,0.528l-3.188-0.458
    			l-0.582,0.495l-0.059,2.822l8.645-2.396l48.121,0.76L1495.018,158.637L1495.018,158.637z M1441.1,164.054v2.141l7.684,0.153
    			l0.24-3.685L1441.1,164.054z M1477.963,163.662l-8.963,0.294l-0.053,2.798l8.742,0.175L1477.963,163.662L1477.963,163.662z
    			 M1453.908,164.679l-0.018,1.772l9.066,0.183l0.256-2.744L1453.908,164.679z M1483.658,165.327l-0.047,1.721l8.18,0.166
    			l0.252-2.88L1483.658,165.327z"/>
    		<path id="path8779_3_" inkscape:connector-curvature="0" fill="#914E1A" d="M1495.018,158.071l-0.662,8.055l0.52,0.075
    			l-0.566,0.49v0.007l-56.285-1.132l0.143-6.93l0.582-0.495l3.188,0.458L1495.018,158.071L1495.018,158.071z"/>
    		<path id="path8775_3_" inkscape:connector-curvature="0" fill="#C8812D" d="M1495.582,157.576l-0.707,8.627l-56.285-1.132
    			l0.141-6.93L1495.582,157.576z"/>
    		<path id="path8823_3_" inkscape:connector-curvature="0" fill="#673A26" d="M1495.299,177.084l-2.564,0.024l1.545,7.335
    			L1495.299,177.084L1495.299,177.084z M1492.727,177.108l-52.139,0.515l-2.123-0.327l-0.563,0.354h-0.02l0.004,0.125l0.119,3.148
    			l3.094-1.269L1492.727,177.108L1492.727,177.108z M1441.1,182.979l-0.271,2.22l6.719,0.136l0.203-3.133L1441.1,182.979z
    			 M1468.639,183.501l-0.043,2.26l7.504,0.152l0.258-3.076L1468.639,183.501z M1454.209,183.581l-0.277,1.883l7.25,0.146
    			l0.246-2.627L1454.209,183.581z M1483.123,184.726l0.223,1.335l6.783,0.136l0.262-2.984L1483.123,184.726z"/>
    		<path id="path8781_3_" inkscape:connector-curvature="0" fill="#914E1A" d="M1495.299,176.526l-1.213,8.761l0.506,0.078
    			l-0.566,0.353l-55.859-1.131l-0.279-7.37l-0.004-0.125h0.02l0.563-0.354l2.123,0.327L1495.299,176.526L1495.299,176.526z"/>
    		<path id="path8777_3_" inkscape:connector-curvature="0" fill="#C8812D" d="M1495.865,176.173l-1.273,9.192l-55.861-1.131
    			l-0.283-7.496L1495.865,176.173z"/>
    	</g>
    	<path opacity="0.5" d="M1496.695,197.844l0.006,0.024h0.021l0.57,0.064v0.002l2.162,0.004l0.975,2.103l-2.577,0.011l0.749,1.313
    		l0.602,0.091l0.002,0.003l1.883,0.004l0.544,1.177h8.535l0.418-0.066h0.023l-0.88-1.095l4.615,0.009l0.57,1.114l9.744,0.038
    		l0.439-0.066h-0.002h0.002l-1.016-1.067l5.303,0.011l0.649,1.161l9.096-0.076l0.437-0.066h0.005l-0.001-0.001l0,0l0,0l-0.901-1
    		l5.377,0.01l0.643,1.058l8.553,0.038l0.417-0.067l0.023,0.001l-0.004-0.004h0.001h-0.001l-0.93-1.009l2.932,0.006l-1.459-1.635
    		h-0.002l-0.603-0.093l-0.001-0.001l-2.445,0.01l-0.1-0.107l0,0l-1.572-1.706l4.83,0.009l-2.07-1.742l-0.592-0.066l-3.813,0.015
    		l-0.097-0.105h-0.001l-1.652-1.793l-5.973-0.038l0.042,0.07l-0.483-0.004l1.154,1.897l-6.892,0.026l-0.095-0.105l0,0l-1.633-1.81
    		h-6.351l0.037,0.067h-0.478l0.991,1.771h-0.001l0.059,0.105l-7.303,0.028l-1.807-1.896l-6.171-0.038l0.036,0.07l-0.477-0.003
    		l0.971,1.896l-6.078,0.023l-0.045-0.055l-0.04-0.051l0,0l-1.513-1.881l-5.775-0.038l0.033,0.07l-0.473-0.003l0.92,1.984
    		l-2.438,0.009l0.186,0.696l-0.022-0.002l0.159,0.597l0.006,0.023h0.021h0.001L1496.695,197.844z M1542.982,199.794l0.051,0.084
    		l-5.836,0.022l-0.098-0.107l0,0l-1.611-1.786l6.414,0.012L1542.982,199.794z M1528.499,199.934l-5.893,0.022l-0.102-0.107h-0.002
    		l-1.781-1.87l6.689,0.013L1528.499,199.934z M1508.462,199.903l-1.569-1.951l5.646,0.012l0.983,1.92h-0.001l0.056,0.107
    		l-5.029,0.02L1508.462,199.903L1508.462,199.903z"/>
    	<g id="layer1_6_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="path8793_2_" inkscape:connector-curvature="0" fill="#673A26" d="M1525.97,194.932h6.4l3.549-42.386l0.527-0.256
    			l-0.477-0.358l-9.199-0.399L1525.97,194.932z M1541.572,151.932l-1.201,43.4l6-0.2l3.748-42.79l0.525-0.238l-0.473-0.371
    			L1541.572,151.932z M1511.572,151.932l-0.4,42.801l6.199-0.2l3.945-42.224l0.529-0.224l-0.475-0.353L1511.572,151.932z
    			 M1498.171,151.732v43.199l5.799-0.199l2.762-42.396l0.512-0.234l-0.473-0.37H1498.171z"/>
    		<path id="path8767_2_" inkscape:connector-curvature="0" fill="#955123" d="M1526.447,195.286h6.398l3.602-43l-9.201-0.4
    			L1526.447,195.286z M1542.046,152.286l-1.201,43.399l6-0.199l3.801-43.4L1542.046,152.286z M1512.046,152.286l-0.4,42.8l6.199-0.2
    			l4-42.8L1512.046,152.286z M1498.646,152.086v43.2l5.801-0.2l2.799-43H1498.646z"/>
    		<path id="path8813_2_" inkscape:connector-curvature="0" fill="#673A26" d="M1552.564,158.46l-53.082,0.528l-3.188-0.458
    			l-0.582,0.495l-0.059,2.822l8.645-2.396l48.121,0.76L1552.564,158.46L1552.564,158.46z M1498.646,163.877v2.141l7.684,0.153
    			l0.24-3.685L1498.646,163.877z M1535.509,163.485l-8.963,0.294l-0.053,2.798l8.742,0.175L1535.509,163.485L1535.509,163.485z
    			 M1511.454,164.502l-0.018,1.772l9.066,0.183l0.256-2.744L1511.454,164.502z M1541.204,165.15l-0.047,1.721l8.18,0.166l0.252-2.88
    			L1541.204,165.15z"/>
    		<path id="path8779_2_" inkscape:connector-curvature="0" fill="#914E1A" d="M1552.564,157.895l-0.662,8.055l0.52,0.075
    			l-0.566,0.49v0.007l-56.285-1.132l0.143-6.93l0.582-0.495l3.188,0.458L1552.564,157.895L1552.564,157.895z"/>
    		<path id="path8775_2_" inkscape:connector-curvature="0" fill="#C8812D" d="M1553.128,157.399l-0.707,8.627l-56.285-1.132
    			l0.141-6.93L1553.128,157.399z"/>
    		<path id="path8823_2_" inkscape:connector-curvature="0" fill="#673A26" d="M1552.845,176.907l-2.564,0.024l1.545,7.335
    			L1552.845,176.907L1552.845,176.907z M1550.273,176.932l-52.139,0.515l-2.123-0.327l-0.563,0.354h-0.02l0.004,0.125l0.119,3.148
    			l3.094-1.269L1550.273,176.932L1550.273,176.932z M1498.646,182.803l-0.271,2.22l6.719,0.136l0.203-3.133L1498.646,182.803z
    			 M1526.185,183.324l-0.043,2.26l7.504,0.152l0.258-3.076L1526.185,183.324z M1511.755,183.404l-0.277,1.883l7.25,0.146
    			l0.246-2.627L1511.755,183.404z M1540.669,184.549l0.223,1.335l6.783,0.136l0.262-2.984L1540.669,184.549z"/>
    		<path id="path8781_2_" inkscape:connector-curvature="0" fill="#914E1A" d="M1552.845,176.35l-1.213,8.761l0.506,0.078
    			l-0.566,0.353l-55.859-1.131l-0.279-7.37l-0.004-0.125h0.02l0.563-0.354l2.123,0.327L1552.845,176.35L1552.845,176.35z"/>
    		<path id="path8777_2_" inkscape:connector-curvature="0" fill="#C8812D" d="M1553.411,175.996l-1.273,9.192l-55.861-1.131
    			l-0.283-7.496L1553.411,175.996z"/>
    	</g>
    	<path opacity="0.5" d="M1556.863,198.542l0.006,0.024h0.021l0.57,0.064v0.002l2.162,0.004l0.975,2.103l-2.577,0.011l0.749,1.313
    		l0.602,0.091l0.002,0.003l1.883,0.004l0.544,1.177h8.535l0.418-0.066h0.023l-0.88-1.095l4.615,0.009l0.57,1.114l9.744,0.038
    		l0.439-0.066h-0.002h0.002l-1.016-1.067l5.303,0.011l0.649,1.161l9.096-0.076l0.437-0.066h0.005l-0.001-0.001l0,0l0,0l-0.901-1
    		l5.377,0.01l0.643,1.058l8.553,0.038l0.417-0.067l0.023,0.001l-0.004-0.004h0.001h-0.001l-0.93-1.009l2.932,0.006l-1.459-1.635
    		h-0.002l-0.603-0.093l-0.001-0.001l-2.445,0.01l-0.1-0.107l0,0l-1.572-1.706l4.83,0.009l-2.07-1.742l-0.592-0.066l-3.813,0.015
    		l-0.097-0.105h-0.001l-1.652-1.793l-5.973-0.038l0.042,0.07l-0.483-0.004l1.154,1.897l-6.892,0.026l-0.095-0.105l0,0l-1.633-1.81
    		h-6.351l0.037,0.067h-0.478l0.991,1.771h-0.001l0.059,0.105l-7.303,0.028l-1.807-1.896l-6.171-0.038l0.036,0.07l-0.477-0.003
    		l0.971,1.896l-6.078,0.023l-0.045-0.055l-0.04-0.051l0,0l-1.513-1.881l-5.775-0.038l0.033,0.07l-0.473-0.003l0.92,1.984
    		l-2.438,0.009l0.186,0.696l-0.022-0.002l0.159,0.597l0.006,0.023h0.021h0.001L1556.863,198.542z M1603.15,200.492l0.051,0.084
    		l-5.836,0.022l-0.098-0.107l0,0l-1.611-1.786l6.414,0.012L1603.15,200.492z M1588.667,200.632l-5.893,0.022l-0.102-0.107h-0.002
    		l-1.781-1.87l6.689,0.013L1588.667,200.632z M1568.63,200.602l-1.569-1.951l5.646,0.012l0.983,1.92h-0.001l0.056,0.107l-5.029,0.02
    		L1568.63,200.602L1568.63,200.602z"/>
    	<g id="layer1_5_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="path8793_1_" inkscape:connector-curvature="0" fill="#673A26" d="M1585.514,195.285h6.4l3.549-42.386l0.527-0.256
    			l-0.477-0.358l-9.199-0.399L1585.514,195.285z M1601.115,152.285l-1.201,43.4l6-0.2l3.748-42.79l0.525-0.238l-0.473-0.371
    			L1601.115,152.285z M1571.115,152.285l-0.4,42.801l6.199-0.2l3.945-42.224l0.529-0.224l-0.475-0.353L1571.115,152.285z
    			 M1557.715,152.086v43.199l5.799-0.199l2.762-42.396l0.512-0.234l-0.473-0.37H1557.715z"/>
    		<path id="path8767_1_" inkscape:connector-curvature="0" fill="#955123" d="M1585.99,195.64h6.398l3.602-43l-9.201-0.4
    			L1585.99,195.64z M1601.59,152.64l-1.201,43.399l6-0.199l3.801-43.4L1601.59,152.64z M1571.59,152.64l-0.4,42.8l6.199-0.2l4-42.8
    			L1571.59,152.64z M1558.19,152.439v43.2l5.801-0.2l2.799-43H1558.19z"/>
    		<path id="path8813_1_" inkscape:connector-curvature="0" fill="#673A26" d="M1612.108,158.813l-53.082,0.528l-3.188-0.458
    			l-0.582,0.495l-0.059,2.822l8.645-2.396l48.121,0.76L1612.108,158.813L1612.108,158.813z M1558.19,164.23v2.141l7.684,0.153
    			l0.24-3.685L1558.19,164.23z M1595.053,163.839l-8.963,0.294l-0.053,2.798l8.742,0.175L1595.053,163.839L1595.053,163.839z
    			 M1570.998,164.855l-0.018,1.772l9.066,0.183l0.256-2.744L1570.998,164.855z M1600.748,165.504l-0.047,1.721l8.18,0.166
    			l0.252-2.88L1600.748,165.504z"/>
    		<path id="path8779_1_" inkscape:connector-curvature="0" fill="#914E1A" d="M1612.108,158.248l-0.662,8.055l0.52,0.075
    			l-0.566,0.49v0.007l-56.285-1.132l0.143-6.93l0.582-0.495l3.188,0.458L1612.108,158.248L1612.108,158.248z"/>
    		<path id="path8775_1_" inkscape:connector-curvature="0" fill="#C8812D" d="M1612.672,157.753l-0.707,8.627l-56.285-1.132
    			l0.141-6.93L1612.672,157.753z"/>
    		<path id="path8823_1_" inkscape:connector-curvature="0" fill="#673A26" d="M1612.389,177.261l-2.564,0.024l1.545,7.335
    			L1612.389,177.261L1612.389,177.261z M1609.817,177.285l-52.139,0.515l-2.123-0.327l-0.563,0.354h-0.02l0.004,0.125l0.119,3.148
    			l3.094-1.269L1609.817,177.285L1609.817,177.285z M1558.19,183.156l-0.271,2.22l6.719,0.136l0.203-3.133L1558.19,183.156z
    			 M1585.729,183.678l-0.043,2.26l7.504,0.152l0.258-3.076L1585.729,183.678z M1571.299,183.758l-0.277,1.883l7.25,0.146
    			l0.246-2.627L1571.299,183.758z M1600.213,184.902l0.223,1.335l6.783,0.136l0.262-2.984L1600.213,184.902z"/>
    		<path id="path8781_1_" inkscape:connector-curvature="0" fill="#914E1A" d="M1612.389,176.703l-1.213,8.761l0.506,0.078
    			l-0.566,0.353l-55.859-1.131l-0.279-7.37l-0.004-0.125h0.02l0.563-0.354l2.123,0.327L1612.389,176.703L1612.389,176.703z"/>
    		<path id="path8777_1_" inkscape:connector-curvature="0" fill="#C8812D" d="M1612.955,176.35l-1.273,9.192l-55.861-1.131
    			l-0.283-7.496L1612.955,176.35z"/>
    	</g>
    	<g id="layer1_4_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="rect11569_1_" fill="#4D4D4D" d="M1520.097,88.324h-2.355c-0.987,0-1.787,0.799-1.787,1.787v119.479
    			c0,0.988,0.8,1.787,1.787,1.787h2.355c0.987,0,1.786-0.799,1.786-1.787V90.111C1521.883,89.123,1521.084,88.324,1520.097,88.324z"
    			/>
    		<path id="rect11571_1_" fill="#E6E6E6" d="M1519.562,88.721h-1.286c-0.981,0-1.775,0.794-1.775,1.773v118.714
    			c0,0.979,0.794,1.773,1.775,1.773h1.286c0.982,0,1.775-0.794,1.775-1.773V90.494C1521.337,89.515,1520.544,88.721,1519.562,88.721
    			z"/>
    		<path id="rect11528_1_" inkscape:connector-curvature="0" d="M1552.724,103.21c0.875,0,1.581,0.703,1.581,1.581v14.488
    			c0,0.875-0.706,1.582-1.581,1.582h-60.592c-0.036,0-0.064-0.02-0.099-0.022c-0.388,0.028-0.787-0.088-1.086-0.383l-7.513-7.445
    			c-0.546-0.544-0.546-1.41,0-1.95l7.513-7.445c0.299-0.299,0.698-0.414,1.089-0.386c0.034,0,0.063-0.02,0.096-0.02H1552.724
    			L1552.724,103.21z"/>
    		<path id="path11533_1_" inkscape:connector-curvature="0" fill="#FFFFFF" d="M1551.958,103.817c0.85,0,1.533,0.658,1.533,1.472
    			v13.49c0,0.815-0.684,1.471-1.533,1.471h-58.776c-0.037,0-0.064-0.017-0.099-0.017c-0.377,0.025-0.763-0.084-1.052-0.357
    			l-7.288-6.934c-0.529-0.503-0.529-1.311,0-1.814l7.288-6.934c0.289-0.275,0.678-0.383,1.055-0.357
    			c0.034,0,0.059-0.017,0.096-0.017h58.776V103.817z"/>
    		<path id="rect11535_1_" d="M1529.644,92.146h-21.067c-0.766,0-1.387,0.622-1.387,1.387v6.974c0,0.765,0.621,1.387,1.387,1.387
    			h21.067c0.766,0,1.388-0.622,1.388-1.387v-6.974C1531.031,92.768,1530.409,92.146,1529.644,92.146z"/>
    		<path id="rect11537_1_" fill="#FCCC12" d="M1529.202,92.607h-20.279c-0.692,0-1.255,0.563-1.255,1.255v6.312
    			c0,0.694,0.563,1.258,1.255,1.258h20.279c0.692,0,1.255-0.563,1.255-1.258v-6.312C1530.457,93.17,1529.895,92.607,1529.202,92.607
    			z"/>
    		<path id="rect11528-9_1_" inkscape:connector-curvature="0" d="M1484.341,132.978c-0.876,0-1.579,0.386-1.579,0.861v7.896
    			c0,0.476,0.703,0.861,1.579,0.861h60.591c0.037,0,0.064-0.015,0.099-0.015c0.391,0.018,0.788-0.048,1.086-0.208l7.513-4.055
    			c0.547-0.296,0.547-0.769,0-1.063l-7.513-4.055c-0.298-0.163-0.698-0.226-1.086-0.211c-0.036,0-0.064-0.012-0.096-0.012h-60.591
    			H1484.341z"/>
    		<path id="path11533-1_1_" inkscape:connector-curvature="0" fill="#FFFFFF" d="M1485.092,133.574c-0.842,0-1.52,0.332-1.52,0.743
    			v6.807c0,0.413,0.678,0.742,1.52,0.742h58.219c0.034,0,0.063-0.008,0.096-0.011c0.372,0.014,0.754-0.042,1.041-0.18l7.221-3.498
    			c0.523-0.256,0.523-0.664,0-0.917l-7.221-3.498c-0.287-0.141-0.669-0.194-1.043-0.18c-0.034-0.003-0.06-0.012-0.094-0.012h-58.219
    			V133.574z"/>
    	</g>

    		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="1093.6106" y1="208.1748" x2="1093.6106" y2="202.2295" gradientTransform="matrix(-1 0 0 1 1919.0962 0)">
    		<stop  offset="0.0108" style="stop-color:#444444"/>
    		<stop  offset="0.0194" style="stop-color:#555555"/>
    		<stop  offset="0.0371" style="stop-color:#707070"/>
    		<stop  offset="0.0527" style="stop-color:#818181"/>
    		<stop  offset="0.0645" style="stop-color:#878787"/>
    		<stop  offset="0.4303" style="stop-color:#858585"/>
    		<stop  offset="0.648" style="stop-color:#7C7C7C"/>
    		<stop  offset="0.8263" style="stop-color:#6E6E6E"/>
    		<stop  offset="0.8978" style="stop-color:#666666"/>
    		<stop  offset="1" style="stop-color:#444444"/>
    	</linearGradient>
    	<polygon fill="url(#SVGID_4_)" points="619.111,208.175 619.111,202.229 1031.862,202.229 1031.862,208.175 619.186,208.175 	"/>
    	<g id="layer1_3_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<rect id="rect14425_1_" x="781.126" y="107.087" fill="#75594D" width="44.36" height="57.212"/>
    		<rect id="rect14423_1_" x="821.261" y="92.298" fill="#926F5C" width="168.471" height="72.001"/>
    		<rect id="rect14416_1_" x="786.335" y="166.609" fill="#CCA15A" width="58.753" height="51.037"/>
    		<rect id="rect14414_1_" x="826.167" y="165.364" fill="#E2B164" width="158.336" height="52.282"/>
    		<rect id="rect14427_1_" x="780.95" y="163.419" fill="#ECECEC" width="208.955" height="3.521"/>
    		<path id="rect14418_1_" inkscape:connector-curvature="0" fill="#F6C66E" d="M906.46,94.847l44.377,44.381h0.057v0.054v0.004
    			v0.007v78.107h-88.876v-78.114v-0.058h0.058L906.46,94.85V94.847z"/>
    		<rect id="rect14429_1_" x="845.556" y="83.672" fill="#E5E5E5" width="32.391" height="14.787"/>
    		<rect id="rect14431-5_1_" x="879.847" y="173.898" fill="#E9E8E5" width="57.01" height="33.859"/>
    		<rect id="rect14433-4_1_" x="881.663" y="175.642" fill="#8CB9D4" width="53.259" height="30.373"/>
    		<rect id="rect14435-3_1_" x="916.817" y="174.647" fill="#E9E8E5" width="2.117" height="32.612"/>
    		<rect id="rect14437-2_1_" x="898.023" y="174.647" fill="#E9E8E5" width="2.115" height="32.612"/>
    		<path id="rect14463_1_" inkscape:connector-curvature="0" fill="#666666" fill-opacity="0.4294" d="M936.829,173.888v3.748h0.027
    			v30.126h-5.538v-28.679h-51.437v-5.195H936.829L936.829,173.888z"/>
    		<rect id="rect14468_1_" x="879.847" y="135.616" fill="#E9E8E5" width="57.01" height="22.601"/>
    		<rect id="rect14470_1_" x="881.663" y="136.779" fill="#8CB9D4" width="53.259" height="20.275"/>
    		<rect id="rect14472_1_" x="916.817" y="136.114" fill="#E9E8E5" width="2.117" height="21.769"/>
    		<rect id="rect14474_1_" x="898.023" y="136.114" fill="#E9E8E5" width="2.115" height="21.769"/>
    		<path id="path14476_1_" inkscape:connector-curvature="0" fill="#666666" fill-opacity="0.4294" d="M936.829,135.61v2.499h0.027
    			v20.107h-5.538v-19.142h-51.437v-3.465H936.829L936.829,135.61z"/>
    		<rect id="rect14478_1_" x="959.096" y="171.603" fill="#E9E8E5" width="17.514" height="36.351"/>
    		<rect id="rect14480_1_" x="959.888" y="173.248" fill="#8CB9D4" width="15.932" height="33.063"/>
    		<path id="rect14497_1_" inkscape:connector-curvature="0" fill="#4D4D4D" fill-opacity="0.4294" d="M976.61,171.603v0.218v2.242
    			v33.886h-2.464v-33.886h-15.05v-2.46H976.61z"/>
    		<rect id="rect14502_1_" x="835.241" y="171.603" fill="#E9E8E5" width="17.514" height="36.351"/>
    		<rect id="rect14504_1_" x="836.031" y="173.248" fill="#8CB9D4" width="15.933" height="33.063"/>
    		<path id="path14506_1_" inkscape:connector-curvature="0" fill="#4D4D4D" fill-opacity="0.4294" d="M852.755,171.603v0.218v2.242
    			v33.886h-2.463v-33.886h-15.051v-2.46H852.755z"/>
    		<path id="rect14508_1_" inkscape:connector-curvature="0" fill="#FFFFFF" d="M906.452,92.13l2.112,2.108v0.007l53.973,54.117
    			l-2.11,2.115L906.46,96.355l-53.964,54.122l-2.117-2.115l53.973-54.117v-0.007l2.112-2.108H906.452z"/>
    		<path id="path14513_1_" inkscape:connector-curvature="0" fill="#666666" fill-opacity="0.4417" d="M906.371,96.239h-0.028v0.005
    			v-0.005H906.371z M903.895,98.688v0.007l-41.871,41.983v4.921l44.319-44.449l44.559,44.683v-4.91l-42.109-42.228v-0.007
    			l-2.449-2.443L903.895,98.688z"/>
    		<rect id="rect14521_1_" x="950.894" y="166.939" fill="#666666" fill-opacity="0.4417" width="33.609" height="4.4"/>
    		<path id="rect14523_1_" inkscape:connector-curvature="0" fill="#666666" fill-opacity="0.4417" d="M861.984,166.937v0.659h0.031
    			v50.096h-6.045V171.34h-29.889v-4.403H861.984L861.984,166.937z"/>
    		<path id="path14528_1_" inkscape:connector-curvature="0" fill="#666666" fill-opacity="0.5552" d="M826.068,166.937v0.659h0.037
    			v50.096h-6.652V171.34h-32.891v-4.403H826.068z"/>
    		<rect id="rect14530_1_" x="812.812" y="106.908" fill="#666666" fill-opacity="0.3006" width="8.449" height="60.021"/>
    		<path id="rect14532_1_" inkscape:connector-curvature="0" fill="#666666" fill-opacity="0.3006" d="M862.015,140.925v26.012
    			h-6.162v-19.83L862.015,140.925z"/>
    		<rect id="rect14537_1_" x="799.462" y="177.062" fill="#75594D" width="19.98" height="40.489"/>
    		<rect id="rect14539_1_" x="800.707" y="178.027" fill="#926F5C" width="17.49" height="38.618"/>
    		<path id="rect14541_1_" inkscape:connector-curvature="0" fill="#6F5C54" d="M818.198,177.997v1.437v1.369v35.843h-3.08v-35.843
    			h-14.408v-2.806H818.198z"/>
    		<rect id="rect14546_1_" x="953.953" y="217.11" fill="#D9D9D9" width="37.317" height="10.562"/>
    		<rect id="rect14548_1_" x="860.123" y="217.11" fill="#E4E4E4" width="95.06" height="10.912"/>
    		<rect id="rect14550_1_" x="851.322" y="217.11" fill="#9A97A2" width="11.972" height="10.912"/>
    		<rect id="rect14552_1_" x="826.061" y="217.11" fill="#D8D8D8" width="26.495" height="10.912"/>
    		<rect id="rect14554_1_" x="783.37" y="217.11" fill="#BFBFBE" width="42.69" height="10.912"/>
    		<rect id="rect14556_1_" x="817.083" y="217.11" fill="#9A97A2" width="8.978" height="10.912"/>
    	</g>
    	<g id="layer1_2_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="path9844_1_" inkscape:connector-curvature="0" fill="#323232" d="M1010.924,223.713l-6.025,0.058
    			c0,0-0.32,0.029-0.437-0.291s-1.019-5.501-1.019-5.501s-0.291-0.262,0.407-0.291s3.318,0,3.318,0L1010.924,223.713z"/>
    		<path id="path9831_1_" inkscape:connector-curvature="0" fill="#666666" d="M1047.164,197.601
    			c6.014-0.031,11.861,0.278,14.846,1.952c4.773,2.678,13.739,6.521,13.739,6.521s30.854-1.398,35.396,6.52
    			c0.264,0.461,0.371,0.91,0.348,1.348c0.041,0.951,0.205,9.646-7.392,11.519c-3.027,0.746-8.368-0.635-13.851-2.642
    			c-7.89,1.526-14.967,2.351-14.967,2.351l-63.689,0.232c0,0-0.465,0.233-2.096-1.746c-1.63-1.979-6.055-10.014-6.055-10.014
    			s-1.979-3.144,1.63-5.705s15.486-7.335,18.048-8.15s5.239-1.863,13.623-1.979C1039.888,197.762,1043.555,197.62,1047.164,197.601
    			L1047.164,197.601z"/>
    		<path id="path9836_1_" fill="#F2F387" d="M1098.087,209.563c-0.261,0.719,2.026,2.15,5.106,3.198
    			c3.079,1.048,5.787,1.314,6.047,0.596s-2.026-2.15-5.106-3.198C1101.055,209.111,1098.347,208.845,1098.087,209.563z"/>
    		<path id="rect9838_1_" fill="#333333" d="M1043.336,211.481h-4.364c-0.329,0-0.597,0.267-0.597,0.597l0,0
    			c0,0.33,0.268,0.598,0.597,0.598h4.364c0.329,0,0.596-0.268,0.596-0.598l0,0C1043.932,211.748,1043.665,211.481,1043.336,211.481z
    			"/>
    		<path id="rect9840_1_" fill="#323232" d="M1082.978,223.213h-54.874c-0.329,0-0.596,0.268-0.596,0.598v1.193
    			c0,0.33,0.267,0.597,0.596,0.597h54.874c0.33,0,0.597-0.267,0.597-0.597v-1.193
    			C1083.574,223.48,1083.308,223.213,1082.978,223.213z"/>
    		<circle id="path9846_1_" fill="#323232" cx="1090.078" cy="221.073" r="10.126"/>
    		<circle id="circle9848_1_" fill="#B2B2B2" cx="1090.078" cy="221.073" r="7.081"/>
    		<circle id="circle9850_1_" fill="#323232" cx="1090.078" cy="221.073" r="2.058"/>
    		<circle id="circle9852_1_" fill="#323232" cx="1027.178" cy="221.073" r="10.126"/>
    		<circle id="circle9854_1_" fill="#B2B2B2" cx="1027.178" cy="221.073" r="7.081"/>
    		<circle id="circle9856_1_" fill="#323232" cx="1027.178" cy="221.073" r="2.058"/>
    		<path id="path9858_1_" inkscape:connector-curvature="0" fill="#E91D1E" d="M1005.319,207.766c0,0,1.832,0.546,1.152,3.098
    			c-0.678,2.553-3.026,2.78-3.026,2.78S1001.08,210.082,1005.319,207.766z"/>
    		<path id="path9860_1_" inkscape:connector-curvature="0" fill="#ACCFDA" d="M1056.078,199.625
    			c2.572,0.013,6.281,0.168,7.768,0.912c2.377,1.189,11.903,5.536,11.903,5.536s-1.056,1.255-5.058,1.777l-0.016,0.006l-0.018-0.002
    			c-0.814,0.104-1.737,0.183-2.809,0.21c-6.381,0.164-32.892,0.206-32.892,0.206s-8.752-0.626-11.196-3.479
    			c-2.445-2.852,3.725-3.899,3.725-3.899s3.493-0.99,25.092-1.223c0.293-0.004,0.537-0.003,0.81-0.005l0.013-0.003
    			C1053.401,199.661,1054.535,199.617,1056.078,199.625L1056.078,199.625z"/>
    		<path id="rect9865_1_" fill="#666666" d="M1034.329,199.291L1034.329,199.291c-0.392,0-0.711,0.341-0.711,0.762v8.66
    			c0,0.421,0.319,0.762,0.711,0.762l0,0c0.394,0,0.712-0.341,0.712-0.762v-8.66C1035.041,199.632,1034.723,199.291,1034.329,199.291
    			z"/>
    		<path id="rect9867_1_" fill="#666666" d="M1052.403,198.892L1052.403,198.892c-0.177,0.351,0.33,0.962,1.133,1.366l16.489,8.299
    			c0.802,0.403,1.595,0.445,1.771,0.095l0,0c0.177-0.351-0.331-0.963-1.132-1.366l-16.49-8.298
    			C1053.372,198.584,1052.579,198.541,1052.403,198.892z"/>
    	</g>
    	<polygon opacity="0.5" points="742.833,197.307 751.601,206.612 744.806,206.612 748.386,211.038 745.096,211.056 741.501,206.612
    		685.583,206.612 679.249,199.889 679.249,197.307 	"/>
    	<g id="layer1_1_" inkscape:label="Calque 1" inkscape:groupmode="layer">
    		<path id="rect5948_1_" inkscape:connector-curvature="0" fill="#B3B3B3" d="M440.918,142.448v4.742h196.346v73.675H386.491H375.67
    			v-62.246h10.821v-8.351v-3.078v-4.742H440.918z"/>
    		<rect id="rect5955_1_" x="457.757" y="100.888" fill="#CCCCCC" width="126.892" height="56.229"/>
    		<rect id="rect5957_1_" x="364.69" y="220.562" fill="#757575" width="283.555" height="7.218"/>
    		<rect id="rect6005_1_" x="417.408" y="166.314" fill="#C55760" width="71.44" height="54.642"/>
    		<path id="rect6007_1_" fill="#73A0BD" d="M473.222,178.437h-10.419c-1.233,0-2.234,1.001-2.234,2.234v37.951
    			c0,1.233,1.001,2.23,2.234,2.23h10.419c1.229,0,2.23-0.997,2.23-2.23v-37.951C475.452,179.438,474.451,178.437,473.222,178.437z"
    			/>
    		<path id="rect6009_1_" fill="#73A0BD" d="M455.764,178.437H437.84c-0.95,0-1.723,0.772-1.723,1.723v28.87
    			c0,0.955,0.772,1.724,1.723,1.724h17.924c0.951,0,1.724-0.769,1.724-1.724v-28.87
    			C457.488,179.209,456.715,178.437,455.764,178.437z"/>
    		<path id="rect6013_1_" fill="#73A0BD" d="M431.121,178.437h-11.482c-0.938,0-1.698,0.76-1.698,1.702v28.916
    			c0,0.938,0.76,1.698,1.698,1.698h11.482c0.938,0,1.703-0.76,1.703-1.698v-28.916C432.824,179.196,432.06,178.437,431.121,178.437z
    			"/>
    		<path id="rect6015_1_" inkscape:connector-curvature="0" fill-opacity="0.4437" d="M492.582,162.681v20.299h-0.391v37.977h-20.148
    			v-37.977h-54.635v-20.299H492.582z"/>
    		<path id="rect5959_1_" inkscape:connector-curvature="0" fill="#E6E6E6" d="M606.214,119.749v101.207H485.659v-50.602h-78.034
    			v-50.605h78.034h35.935H606.214z"/>
    		<path id="rect5966_1_" inkscape:connector-curvature="0" fill="#4FA3C3" d="M599.2,126.768v34.871v1.91v50.817H492.89v-50.817
    			h-78.035v-36.781H599.2z"/>
    		<path id="rect5971_1_" inkscape:connector-curvature="0" fill="#FFFFFF" d="M589.317,126.747v8.571h-19.294v-8.571h-1.648v8.571
    			h-19.19v-8.571h-1.644v8.571h-19.298v-8.571h-1.648v8.571h-18.871v-8.571h-1.645v8.571H487.74v-8.571h-1.648v8.571h-19.614v-8.571
    			h-1.648v8.571h-19.19v-8.571h-1.648v8.571h-18.55v-8.571h-1.649v8.571h-9.027v1.652h9.027v15.636h-9.027v1.656h9.027v9.319h1.649
    			v-9.319h18.55v9.319h1.648v-9.319h19.19v9.319h1.648v-9.319h19.614v9.319h1.648v-9.319h18.338v15.785h-13.284v1.657h13.284v15.784
    			h-13.284v1.648h13.284v15.336h-13.284v1.653h13.284v8.272h1.645v-8.272h18.871v8.272h1.648v-8.272h19.298v8.272h1.644v-8.272
    			h19.19v8.272h1.648v-8.272h19.294v8.272h1.648v-8.272h8.571v-1.653h-8.571v-15.336h8.571v-1.648h-8.571v-15.784h8.571v-1.657
    			h-8.571v-15.785h8.571v-1.656h-8.571v-15.636h8.571v-1.652h-8.571v-8.571H589.317z M589.317,152.606h-19.294v-15.636h19.294
    			V152.606z M568.374,152.606h-19.19v-15.636h19.19V152.606z M547.54,152.606h-19.298v-15.636h19.298V152.606z M526.594,152.606
    			h-18.871v-15.636h18.871V152.606z M506.078,152.606H487.74v-15.636h18.338V152.606z M486.092,152.606h-19.614v-15.636h19.614
    			V152.606z M464.829,152.606h-19.19v-15.636h19.19V152.606z M443.99,152.606h-18.55v-15.636h18.55V152.606z M589.317,170.048
    			h-19.294v-15.785h19.294V170.048z M568.374,170.048h-19.19v-15.785h19.19V170.048z M547.54,170.048h-19.298v-15.785h19.298
    			V170.048z M526.594,170.048h-18.871v-15.785h18.871V170.048z M589.317,187.489h-19.294v-15.784h19.294V187.489z M568.374,187.489
    			h-19.19v-15.784h19.19V187.489z M547.54,187.489h-19.298v-15.784h19.298V187.489z M526.594,187.489h-18.871v-15.784h18.871
    			V187.489z M589.317,204.474h-19.294v-15.336h19.294V204.474z M568.374,204.474h-19.19v-15.336h19.19V204.474z M547.54,204.474
    			h-19.298v-15.336h19.298V204.474z M526.594,204.474h-18.871v-15.336h18.871V204.474z"/>
    		<rect id="rect6031_1_" x="552.631" y="96.229" fill="#666666" width="5.715" height="23.454"/>
    		<rect id="rect6033_1_" x="486.719" y="96.229" fill="#666666" width="5.714" height="23.454"/>
    		<rect id="rect6035_1_" x="457.807" y="67.475" fill="#666666" width="126.709" height="28.916"/>
    		<rect id="rect6037_1_" x="459.975" y="69.58" fill="#FFFFFF" width="122.22" height="24.705"/>
    	</g>
    	<rect x="606.214" y="147.19" opacity="0.25" width="10.674" height="73.371"/>
    	<rect x="407.625" y="170.353" opacity="0.25" width="9.783" height="50.209"/>
    	<polygon opacity="0.5" fill="#383838" points="436.117,126.768 599.2,126.768 599.2,145.076 436.117,145.076 436.117,163.419
    		414.855,163.419 414.855,145.076 414.855,126.768 	"/>
    </g>
    </svg>
  </div>
</section>
<section id="most-active" class="raw" style="position: absolute;top: 15%;bottom: 15%;left: 15%;right: 15%;">
  <% @most_active_projects.each do | project | %>
  <div class="project col-md-4">
    <div class="project-thumb">
      <%= image_tag(project.thumb, size: "250x250", alt: "Avatar", class:'img-responsive center-block img-circle')%>
    </div>
    <%= project.inspect %>
  </div>
  <% end %>
</section>
