$primary: #EF9A3E;
$secondary: #4D9AB9;
$navSocialSize: 35px;
$navSocialLinkMarge: 7px;

.btn-primary {
  background-color: $primary;
  border: 0px;
  transition: all 250ms;
  &:hover {
      background-color: darken($primary, 15%);
  }
}

.navbar-default {
  background-color: transparent;
}
#navSocial {
  height: $navSocialSize;
  background-color: #000;
  line-height: $navSocialSize;
  #socialLink{
    a , a:visited , a:focus, {
      color:white;
      transition: all 250ms;
      &:hover{
        color:$primary;
      }
      i{
        margin-top: $navSocialLinkMarge;
        margin-right: $navSocialLinkMarge;
      }
    }
  }
  #userBar {
    text-align: right;
    a , a:visited , a:focus, {
      color:white;
      transition: all 250ms;
      position: relative;
      &:after {
        content: " ";
        position: absolute;
        right:0;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: white;
      }
      &:last-child{
        &:after {
          width: 0px;
        }
      }
      i {
        color:$primary;
      }
      &:hover, &:focus:hover{
        color:$primary;
      }
    }
  }
}

#menu {
  max-height: $navSocialSize*2;
  background-color: rgba(0,0,0, 0.55);
  margin: 0;
  padding:0;
  border: none;
  border-radius: 0;
  .container-fluid{
    background-color: rgba(0,0,0, 0.75);
  }

}

#TopMenu {
   li > a{
    margin-left: $navSocialLinkMarge*4;
    margin-right: $navSocialLinkMarge*8;
    line-height: $navSocialSize;
    position: relative;
    font-size: 1em;
    color:white;
    transition: all 250ms;
    text-transform: uppercase;
    &:hover{
      color:$primary;
    }
    &:after {
      content: " ";
      position: absolute;
      right: -20%;
      top: 20%;
      bottom: 20%;
      width: 2px;
      background-color: white;
    }

  }
  li:last-child > a{
    &:after {
      width: 0px;
    }
  }

}


@media  screen and (min-width:  554px) {
  #navSocial #userBar a {
    font-size: 0.75em;
    padding-right: 15px;
    padding-left: 15px;
  }
  #navSocial #socialLink a {
    font-size: 0.8em;
    i {
      padding-right: 10px;
    }
  }
  #menu {
    font-size: 0.8em;
    #TopMenu {
      a{
        font-size: 1em;
        margin-right: $navSocialLinkMarge*4;
      }
    }
  }
}


@media  screen and (min-width: 768px) {
  #navSocial #userBar a {
    font-size: 0.8em;
    padding-right: 10px;
    padding-left: 10px;
  }
  #navSocial #socialLink a {
    font-size: 0.8em;
    i {
      padding-right: 20px;
    }

  }
  #menu {
    font-size: 0.8em;
    #TopMenu {
      a{
        font-size: 1.2em;
        margin-right: $navSocialLinkMarge*4;
      }
    }
  }
}

@media  screen and (min-width: 996px) {
  #navSocial #userBar a {
    font-size: 1em;
  }
  #navSocial #socialLink a {
    font-size: 1em;
  }
  #menu {
    font-size: 1em;
  }
}
