/* line 6, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
.btn-primary {
  background-color: #EF9A3E;
  border: 0px;
  transition: all 250ms;
}
/* line 10, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
.btn-primary:hover {
  background-color: #cf7411;
}

/* line 15, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
.navbar-default {
  background-color: transparent;
}

/* line 18, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial {
  height: 35px;
  background-color: #000;
  line-height: 35px;
}
/* line 23, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #socialLink a, #navSocial #socialLink a:visited, #navSocial #socialLink a:focus {
  color: white;
  transition: all 250ms;
}
/* line 26, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #socialLink a:hover, #navSocial #socialLink a:visited:hover, #navSocial #socialLink a:focus:hover {
  color: #EF9A3E;
}
/* line 29, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #socialLink a i, #navSocial #socialLink a:visited i, #navSocial #socialLink a:focus i {
  margin-top: 7px;
  margin-right: 7px;
}
/* line 35, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #userBar {
  text-align: right;
}
/* line 37, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #userBar a, #navSocial #userBar a:visited, #navSocial #userBar a:focus {
  color: white;
  transition: all 250ms;
  position: relative;
}
/* line 41, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #userBar a:after, #navSocial #userBar a:visited:after, #navSocial #userBar a:focus:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
}
/* line 51, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #userBar a:last-child:after, #navSocial #userBar a:visited:last-child:after, #navSocial #userBar a:focus:last-child:after {
  width: 0px;
}
/* line 55, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #userBar a i, #navSocial #userBar a:visited i, #navSocial #userBar a:focus i {
  color: #EF9A3E;
}
/* line 58, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#navSocial #userBar a:hover, #navSocial #userBar a:focus:hover, #navSocial #userBar a:visited:hover, #navSocial #userBar a:visited:focus:hover, #navSocial #userBar a:focus:hover, #navSocial #userBar a:focus:focus:hover {
  color: #EF9A3E;
}

/* line 65, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#menu {
  max-height: 70px;
  background-color: rgba(0, 0, 0, 0.55);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}
/* line 72, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#menu .container-fluid {
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 79, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#TopMenu li > a {
  margin-left: 28px;
  margin-right: 56px;
  line-height: 35px;
  position: relative;
  font-size: 1em;
  color: white;
  transition: all 250ms;
  text-transform: uppercase;
}
/* line 88, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#TopMenu li > a:hover {
  color: #EF9A3E;
}
/* line 91, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#TopMenu li > a:after {
  content: " ";
  position: absolute;
  right: -20%;
  top: 20%;
  bottom: 20%;
  width: 2px;
  background-color: white;
}
/* line 103, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
#TopMenu li:last-child > a:after {
  width: 0px;
}

@media screen and (min-width: 554px) {
  /* line 112, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #userBar a {
    font-size: 0.75em;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 117, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #socialLink a {
    font-size: 0.8em;
  }
  /* line 119, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #socialLink a i {
    padding-right: 10px;
  }

  /* line 123, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #menu {
    font-size: 0.8em;
  }
  /* line 126, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #menu #TopMenu a {
    font-size: 1em;
    margin-right: 28px;
  }
}
@media screen and (min-width: 768px) {
  /* line 136, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #userBar a {
    font-size: 0.8em;
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 141, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #socialLink a {
    font-size: 0.8em;
  }
  /* line 143, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #socialLink a i {
    padding-right: 20px;
  }

  /* line 148, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #menu {
    font-size: 0.8em;
  }
  /* line 151, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #menu #TopMenu a {
    font-size: 1.2em;
    margin-right: 28px;
  }
}
@media screen and (min-width: 996px) {
  /* line 160, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #userBar a {
    font-size: 1em;
  }

  /* line 163, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #navSocial #socialLink a {
    font-size: 1em;
  }

  /* line 166, /var/www/sites/dev/mtech/app/assets/stylesheets/front/_menu.scss */
  #menu {
    font-size: 1em;
  }
}
