@import "../vars";
#interaction{
  position: relative;
  #interactionContainer {
    background-color: white;
    padding: 45px;
    padding-top: 45px;
    margin-top: -10%;
    margin-bottom: 10%;
    .interaction-one{
      padding-bottom: 35px;
      .interaction-img {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background-color: rgb(150,150,150);
        display: block;
        margin-bottom:15px;
        img {
          padding:15%;
          width: 100%;
        }
      }
      h2  {
        text-align: center;
        text-transform: uppercase;
        color: #404040;
      }
      p {
        color: #404040;
      }
    }
  }
}
