@import "../vars";
#interaction{

  position: relative;
  svg {
    width: 100%;
    height: 250px;
  }
  #interactionContainer {
    background-color: white;
    padding: 65px;
    padding-top: 65px;
    margin-top: -10%;
    margin-bottom: 10%;
    .interaction-one{
      padding-bottom: 35px;
      .interaction-img {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom:15px;
        img {
          padding:15%;
          width: 100%;
        }
      }
      h2  {
        text-align: center;
        text-transform: uppercase;
        color: $primary;
      }
      p {
        color: #404040;
      }
    }
    .interaction-one:hover {
      a {
        text-decoration: none;
      }
      h2 {
        color: darken($primary, 15%);
      }
    }
    #MainSigne {
      transition: all 250ms;
      transform: translateX(-30px);
    }
    #MainSigneBlock:hover {
      #MainSigne {
        transform: translateX(0);
      }
    }

    #DepotProjetBlock {
      svg {
        width: 100%;
        height: 250px;
      }
    }
    #Feuille {
      transition: all 450ms;
    }

    #DepotProjetBlock:hover {
      #Feuille {
        transform: translate(-50px, 400px);
      }
    }
    #SondageBlock {
      #barreRouge {
        transform-origin: bottom;
        transition: all 250ms;
      }
      #barreBleu {
        transform-origin: bottom;
        transition: all 450ms;
      }
      #barreVerte {
        transform-origin: bottom;
        transition: all 750ms;
      }
    }
    #SondageBlock:hover {
      #barreRouge {
        transform: scaleY(1.1);
      }
      #barreBleu {
        transform: scaleY(1.1);
      }
      #barreVerte {
        transform: scaleY(1.1);
      }
    }

  }
}
