@import "../vars";
#interaction{
  position: relative;
  #interactionContainer {
    background-color: white;
    padding: 75px;
    margin-top: -10%;
    margin-bottom: 10%;
    .interaction-one{
      padding-bottom: 35px;
      .interaction-img {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background-color: rgb(150,150,150);
        display: block;
        margin-bottom:15px;
        img {
          width: 100%;
        }
        h2  {
          text-transform: uppercase;
          color: #404040;
        }
        p {
          color: #404040;
        }
      }
    }
  }
}
