@import "../vars";
#socials {
  min-height: 65vh;
  padding-top: 5%;
  #oiseauMT{
    height: 65vh;
    text-align: right;
    svg {
      position: absolute;
      bottom: -15%;
      left:0;
      width: 100%;
      height:65vh;
    }
  }
  #PanneauReseauxSociaux {
    height: 65vh;
    iframe {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 65vh;
    }
  }
}
