<footer>
      <div class="mask"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <img src="assets/img/logo.png" alt="" class="img-responsive" width="250px" />
          </div>
          <div class="col-xs-12 col-md-4">
            <h3>Informations</h3>
            <ul>
              <li><i class="fa fa-globe"></i> Pays de verdun</li>
              <li><i class="fa fa-home"></i> ZA les marroniers 55150 Charny sur Meuse</li>
              <li><i class="fa fa-phone"></i> Tél: 03 29 83 44 01</li>
              <li><i class="fa fa-mobile"></i> Email: contact@meusetech.fr</li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4 footer-articles">
            <div class="row">
              <div class="col-xs-4">
                  <a href="#"><img src="assets/img/verdun.jpg" class="img-responsive"alt="" /></a>
              </div>
              <div class="col-xs-4">
                  <a href="#"><img src="assets/img/verdun.jpg" class="img-responsive"alt="" /></a>
              </div>
              <div class="col-xs-4">
                  <a href="#"><img src="assets/img/verdun.jpg" class="img-responsive"alt="" /></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                  <a href="#"><img src="assets/img/verdun.jpg" class="img-responsive" alt="" /></a>
              </div>
              <div class="col-xs-4">
                  <a href="#"><img src="assets/img/verdun.jpg" class="img-responsive" alt="" /></a>
              </div>
              <div class="col-xs-4">
                  <a href="#"><img src="assets/img/verdun.jpg" class="img-responsive" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="copyright">
      <div class="container-fluid">
        <div id="mentions" class="pull-left">
          <span>all rights reserved</span>
          <span><a href="#">mentions légales</a></span>
          <span><a href="#">Réalisé par DeVoGreen</a></span>
        </div>
        <div class="socials pull-right">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
        </div>
      </div>

    </div>
