<footer>
      <div class="mask"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
              <%= image_tag( "logo.png",  alt: "logo meusetech", class:"img-responsive", size: "250x250")%>
          </div>
          <div class="col-xs-12 col-md-4">
            <h3>Informations</h3>
            <ul>
              <li><i class="fa fa-globe"></i> Pays de verdun</li>
              <li><i class="fa fa-home"></i> ZA les marroniers 55150 Charny sur Meuse</li>
              <li><i class="fa fa-phone"></i> Tél: 03 29 83 44 01</li>
              <li><i class="fa fa-mobile"></i> Email: contact@meusetech.fr</li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4 footer-articles">
            <div class="row">
                <% @last_projects.each do | lastProject | %>
                <div class="col-xs-4">
                  <%= link_to image_tag( lastProject.thumb, size:"145x145" ), project_path( lastProject.friendly_id )%>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="copyright">
      <div class="container-fluid">
        <div id="mentions" class="pull-left">
          <span>all rights reserved</span>
          <span><a href="#">mentions légales</a></span>
          <span><a href="#">Réalisé par DeVoGreen</a></span>
        </div>
        <div class="socials pull-right">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
        </div>
      </div>

    </div>
