<%= stylesheet_link_tag 'front/user/infos', media: 'all', 'data-turbolinks-track' => true %>
<div class="row">
  <div class="col-sm-12">
    <div id="user-block_title">
      <h1>Mes sondages</h1>
    </div>
    <div class="block" id="user-block_content">
      <div class="block-content">
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>
                Titre
              </th>
              <th>
                Date de réponse
              </th>
            </tr>
          </thead>
          <tbody>
            <% @responses.each do | response |  %>
              <tr>
                <td>
                  <%= link_to response.survey.title, survey_url(response.survey.id) %>
                </td>
                <td>
                  <%= time_tag(response.created_at,  format: "%A %d %B %Y"  ) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
